@use 'sass:map';

@use '@angular/material' as mat;

@use 'palettes';

$primary_fg: map.get(palettes.$primary, 60);
$white: map.get(palettes.$grey, 100);
$border: rgba($white, 0.12);
$hover: rgba($white, 0.02);

$anchor: map.get(palettes.$primary, 70);
$anchor-hover: map.get(palettes.$primary, 60);
$anchor-secondary: map.get(palettes.$grey, 50);
