@use '@angular/material' as mat;

@import 'material-palettes';

$primary-palette: mat.$orange-palette;
$accent-palette: mat.$orange-palette;
$warn-palette: mat.$red-palette;

$fg-primary: map-get($primary-palette, 60);
$fg-gray: map-get($grey-palette, 100);
$c-border: rgba($fg-gray, 0.12);
