@use 'sass:map';

@use '@angular/material' as mat;

@use 'colors';

$by-name: (
  'blue': mat.$blue-palette,
  'green': mat.$green-palette,
  'orange': mat.$orange-palette,
  'pink': mat.$rose-palette,
  'red': mat.$red-palette,
);

$buttons: (
  'primary': colors.$orange_bg,
  'accent': colors.$green_bg,
  'warn': colors.$warning_bg,
  'unthemed': colors.$default_bg,
);

$feedback: (
  'error': colors.$red_bg,
  'info': colors.$blue_bg,
  'success': colors.$green_bg,
  'warning': colors.$orange_bg,
);

$by-status: (
  'completed': mat.$green-palette,
  'current': mat.$orange-palette,
  'dropped': mat.$red-palette,
  'paused': mat.$rose-palette,
  'planning': mat.$orange-palette,
  'repeating': mat.$blue-palette,
  'watching': mat.$orange-palette,
);
