/* spacing */
$spacing-8xs: 0.125rem;
$spacing-6xs: 0.1875rem;
$spacing-4xs: 0.25rem;
$spacing-3xs: 0.33rem;
$spacing-2xs: 0.5rem;
$spacing-xs: 0.75rem;
$spacing-md: 1rem;
$spacing-lg: 1.25rem;
$spacing-xl: 1.5rem;
$spacing-2xl: 2rem;
$spacing-3xl: 3rem;
$spacing-4xl: 4rem;
$spacing-5xl: 5rem;
$spacing-6xl: 6rem;
$spacing-7xl: 7rem;
$spacing-8xl: 8rem;

/* font sizes */
$font-size-75: 0.75rem;
$font-size-88: 0.88rem;
$font-size-100: 1rem;
$font-size-125: 1.25rem;

/* device sizes */
$screen-3xs: 320px;
$screen-2xs: 480px;
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1360px;
$screen-xl: 1600px;
$screen-2xl: 1920px;

/* material */
$mat-toolbar-height: 56px;
$mat-spinner-size: 128px;
$mat-button-height: 36px;
$mat-icon-button: 40px;

/* modals */
$modal-margin: 32px;
$modal-padding: 20px;
$modal-header-height: $modal-padding + $mat-icon-button;
$modal-footer-height: $modal-padding * 2 + $mat-button-height;

/* generic */
$page-padding: $spacing-2xl;
$card-padding: $spacing-xl;
$expansion-panel-padding: $spacing-xl;
$max-input-size: 640px;
$separator-thickness: 1px;

/* specific */
$footer-height: 48px;
$media-aspect-ratio: 1.414; // √2
$media-cover-width: 96px;
$media-cover-height: round($media-cover-width * $media-aspect-ratio);
$min-dashboard-column-height: 744px;

/* other */
$transition-duration: 200ms;
