/* spacing */
$spacing-4xs: 0.125rem;
$spacing-3xs: 0.25rem;
$spacing-2xs: 0.5rem;
$spacing-xs: 1rem;
$spacing-sm: 1.5rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xl: 4rem;
$spacing-2xl: 6rem;
$spacing-3xl: 8rem;

/* font sizes */
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 1.75rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2rem;

/* device sizes */
$screen-3xs: 320px;
$screen-2xs: 480px;
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1360px;
$screen-xl: 1920px;

/* material */
$mat-toolbar-height: 64px;
$mat-spinner-size: 128px;

/* modals */
$modal-header-height: 70px;
$modal-footer-height: 84px;

/* generic */
$page-padding: $spacing-md;
$card-padding: $spacing-sm;
$expansion-panel-padding: $spacing-sm;
$max-input-size: 640px;
$separator-thickness: 1px;

/* specific */
$footer-height: 82px;
$media-cover-width: 96px;
$media-cover-height: round($media-cover-width * 1.4); // 7/5 aspect ratio

/* other */
$transition-duration: 0.2s;
