@import 'variables';

@mixin setup-card-padding($regular-padding, $compact-padding) {
  mat-card {
    &.composite {
      padding: 0 !important;

      &.compact {
        .header,
        .footer {
          padding: $compact-padding;
        }

        .content {
          padding: $compact-padding;
        }

        .negative-bottom-margin {
          margin-bottom: -$compact-padding;
        }
      }
      &:not(.compact) {
        .header,
        .footer {
          padding: $regular-padding;
        }

        .content {
          padding: $regular-padding;
        }

        .negative-bottom-margin {
          margin-bottom: -$regular-padding;
        }
      }

      .header-dropdown + .header-dropdown {
        padding-left: 0;
      }
    }
  }
}

@media (min-width: $screen-s + 1) {
  @include setup-card-padding($spacing-s, $spacing-xs);
}

@media (max-width: $screen-s) {
  @include setup-card-padding($spacing-xs, $spacing-xs);
}

mat-card {
  &.composite {
    .composite-header {
      display: flex;

      .header:not(.tab) {
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }

      .tab {
        flex: 1;
        text-align: center;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-left-width: 1px;
        border-left-style: solid;

        &.active {
          border-bottom: 0;
        }

        &:not(.active) {
          background-color: rgba(black, 0.12);
        }
      }

      .header-dropdown {
        .mat-select-value {
          max-width: 100%;
        }

        .mat-select-placeholder,
        .mat-select-value-text {
          padding: 0 $spacing-xxxs;
        }
      }
    }
  }

  .buttons-container {
    $horizontalButtonMargin: $spacing-xxs;
    display: flex;
    justify-content: center;

    &.float-left {
      margin-left: -$horizontalButtonMargin;
    }
    &.float-right {
      margin-right: -$horizontalButtonMargin;
    }

    button {
      margin-left: $horizontalButtonMargin;
      margin-right: $horizontalButtonMargin;
    }
  }
}
