@import 'variables';

@mixin setup-card-paddings($regular-padding, $compact-padding) {
  mat-card {
    &.composite {
      padding: 0 !important;

      &.compact {
        @include setup-card-padding($compact-padding);
      }

      &:not(.compact) {
        @include setup-card-padding($regular-padding);
      }
    }
  }
}

@mixin setup-card-padding($padding) {
  .header,
  .footer {
    padding: $padding;
  }

  .content {
    padding: $padding;
  }

  .reduced-bottom-padding {
    padding-bottom: $padding / 2;
  }

  .negative-bottom-margin {
    margin-bottom: -$padding;
  }
}

@media (min-width: ($screen-sm + 1)) {
  @include setup-card-paddings($spacing-xl, $spacing-md);
}

@media (max-width: $screen-sm) {
  @include setup-card-paddings($spacing-md, $spacing-md);
}

mat-card {
  &.composite {
    .composite-header {
      display: flex;

      .header:not(.tab) {
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }

      .tab {
        flex: 1;
        text-align: center;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-left-width: 1px;
        border-left-style: solid;

        &.active {
          border-bottom: 0;
        }

        &:not(.active) {
          background-color: rgba(black, 0.12);
        }
      }

      .header-dropdown {
        .mat-select-value {
          max-width: 100%;
        }

        .mat-select-placeholder,
        .mat-select-value-text {
          padding: 0 $spacing-4xs;
        }
      }
    }

    .composite-footer {
      display: flex;

      .footer:not(.tab) {
        border-top-width: 1px;
        border-top-style: solid;
      }
    }
  }

  .buttons-container {
    $horizontalButtonMargin: $spacing-2xs;
    display: flex;
    justify-content: center;

    &.float-left {
      margin-left: -$horizontalButtonMargin;
    }
    &.float-right {
      margin-right: -$horizontalButtonMargin;
    }

    button {
      margin-left: $horizontalButtonMargin;
      margin-right: $horizontalButtonMargin;
    }
  }
}
