@import 'colors';
@import 'variables';

@mixin setup-card-padding($padding) {
  .header,
  .footer {
    flex: 1;
    padding: $padding;

    &:has(.mat-mdc-icon-button) {
      $reduced-padding: $padding * 0.5;
      padding-top: $reduced-padding;
      padding-bottom: $reduced-padding;

      &:has(.left-action) {
        padding-left: $reduced-padding;
      }
      &:has(.right-action) {
        padding-right: $reduced-padding;
      }
    }
  }

  .content {
    padding: $padding;
  }
}

mat-card {
  &.composite {
    padding: 0 !important;

    &.compact {
      @include setup-card-padding($modal-padding * 0.8);
    }

    &:not(.compact) {
      @include setup-card-padding($modal-padding);
    }

    .composite-header {
      display: flex;

      .header {
        display: flex;
        align-items: center;
        border-color: $c-border;

        &:not(.tab) {
          border-bottom-width: 1px;
          border-bottom-style: solid;
        }
      }

      .tab {
        flex: 1;
        text-align: center;
        border-bottom: 1px solid $c-border;
        border-left: 1px solid $c-border;

        &.active {
          border-bottom: 0;
        }

        &:not(.active) {
          background-color: rgba(black, 0.12);
        }
      }
    }

    .composite-footer {
      display: flex;

      .footer:not(.tab) {
        border-top-width: 1px;
        border-top-style: solid;
      }
    }
  }

  .header {
    .mat-mdc-icon-button {
      --mdc-icon-button-icon-size: #{$font-size-125};
    }
  }

  .buttons-container {
    $horizontalButtonMargin: $spacing-2xs;
    display: flex;
    justify-content: center;

    &.float-left {
      margin-left: (-$horizontalButtonMargin);
    }
    &.float-right {
      margin-right: (-$horizontalButtonMargin);
    }

    button {
      margin-left: $horizontalButtonMargin;
      margin-right: $horizontalButtonMargin;
    }
  }
}
