@use 'sass:map';

@use '@angular/material' as mat;

@use 'palettes';

$positions: top left bottom right;

@each $variation, $palette in palettes.$by-name {
  $c-bg: map.get($palette, 30);
  $border-color: map.get($palette, 40);
  $c-fg: map.get($palette, 70);

  .bg-#{$variation} {
    background-color: $c-bg;
  }

  .border-#{$variation} {
    border-color: $border-color;
  }
  .border-y-#{$variation} {
    border-top-color: $border-color;
    border-bottom-color: $border-color;
  }
  .border-x-#{$variation} {
    border-left-color: $border-color;
    border-right-color: $border-color;
  }
  @each $position in $positions {
    .border-#{$position}-#{$variation} {
      border-#{$position}-color: $border-color;
    }
  }

  .text-#{$variation} {
    color: $c-fg;
  }
}
