@use '@angular/material' as mat;

$variations: (
  'blue': mat.$blue-palette,
  'green': mat.$green-palette,
  'orange': mat.$orange-palette,
  'magenta': mat.$magenta-palette,
  'red': mat.$red-palette,
);

$positions: top left bottom right;

@each $variation, $palette in $variations {
  $value: map-get($palette, 70);

  .bg-#{$variation} {
    border-color: $value;
  }

  .border-#{$variation} {
    border-color: $value;
  }
  .border-y-#{$variation} {
    border-color: $value transparent;
  }
  .border-x-#{$variation} {
    border-color: transparent $value;
  }
  @each $position in $positions {
    .border-#{$position}-#{$variation} {
      border-#{$position}-color: $value;
    }
  }

  .text-#{$variation} {
    color: $value;
  }
}
