@use '@angular/material' as mat;

@import 'colors';

$positions: top left bottom right;

@each $variation, $palette in $mat-colors {
  $c-bg: map-get($palette, 30);
  $c-border: map-get($palette, 40);
  $c-fg: map-get($palette, 70);

  .bg-#{$variation} {
    background-color: $c-bg;
  }

  .border-#{$variation} {
    border-color: $c-border;
  }
  .border-y-#{$variation} {
    border-top-color: $c-border;
    border-bottom-color: $c-border;
  }
  .border-x-#{$variation} {
    border-left-color: $c-border;
    border-right-color: $c-border;
  }
  @each $position in $positions {
    .border-#{$position}-#{$variation} {
      border-#{$position}-color: $c-border;
    }
  }

  .text-#{$variation} {
    color: $c-fg;
  }
}
