@import 'variables';

.property-value-pair {
  align-items: flex-start;

  &:last-child {
    margin-bottom: 0;
  }

  .property,
  .value {
    display: inline-block;
  }

  .property {
    min-width: $spacing-xl + $spacing-xs;
  }

  .value {
    width: calc(100% - #{$spacing-xxl - $spacing-s});
  }
}

.cover-media-grid {
  $cell-width: 96px;
  $cell-height: 134px;
  $cell-spacing: 6px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, $cell-width);
  grid-template-rows: repeat(auto-fill, $cell-height);
  grid-gap: $cell-spacing;

  mt-cover-media {
    display: inline-block;
    vertical-align: middle;

    .cover {
      width: $cell-width;
      height: $cell-height;
      margin: auto;
    }
  }
}
