@import 'variables';

.property-value-pair {
  $property-width: 80px;
  align-items: flex-start;
  margin: $spacing-xs 0;

  &.chips {
    margin: $spacing-2xs 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .property,
  .value {
    display: inline-block;
    box-sizing: border-box;
  }

  .property {
    font-weight: bold;
    min-width: $property-width;

    &:after {
      content: ':';
    }
  }

  .value {
    max-width: calc(100% - #{$property-width});
  }

  .property + .value {
    padding-left: $spacing-xs;
  }
}

.media-cover-grid {
  $cell-height: $media-cover-height;
  $cell-width: $media-cover-width;
  $cell-spacing: 6px;
  $row-count: 5;

  display: grid;
  grid-gap: $cell-spacing;
  grid-template-columns: repeat(auto-fill, $cell-width);
  grid-template-rows: repeat(auto-fill, $cell-height);
  justify-content: space-around;
  min-height: $media-cover-height * $row-count + $cell-spacing *
    ($row-count - 1);

  mt-media-cover {
    display: inline-block;
    vertical-align: middle;

    .cover {
      width: $cell-width;
      height: $cell-height;
      margin: auto;
    }
  }

  // @media (min-width: ($screen-lg + 1)) {
  //   & {
  //     min-height: $media-cover-height * $row-count + $cell-spacing *
  //       ($row-count - 1);
  //   }
  // }
}
