@import 'variables';

$sizes: (
  xxxs: $screen-xxxs,
  xxs: $screen-xxs,
  xs: $screen-xs,
  s: $screen-s,
  m: $screen-m,
  l: $screen-l,
  xl: $screen-xl,
);

@each $size, $width in $sizes {
  @media (min-width: $width + 1) {
    .hide-above-#{$size} {
      display: none !important;
    }
    .show-below-#{$size} {
      display: none !important;
    }
  }

  @media (max-width: $width) {
    .hide-below-#{$size} {
      display: none !important;
    }
    .show-above-#{$size} {
      display: none !important;
    }
  }
}
