@import 'variables';

$sizes: (
  3xs: $screen-3xs,
  2xs: $screen-2xs,
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
  2xl: $screen-2xl,
);

@each $size, $width in $sizes {
  @media (min-width: #{$width + 1}) {
    .hide-above-#{$size} {
      display: none !important;
    }
    .show-below-#{$size} {
      display: none !important;
    }
  }

  @media (max-width: $width) {
    .hide-below-#{$size} {
      display: none !important;
    }
    .show-above-#{$size} {
      display: none !important;
    }
  }
}
