@use 'sass:map';

@use '@angular/material' as mat;

@use 'colors';
@use 'mat-palettes';
@use 'palettes';

@import 'variables';

@include mat.elevation-classes();
@include mat.app-background();

$theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      // "primary" == bg
      primary: mat-palettes.$mat-grey,
      // "tertiary" == fg
      tertiary: mat-palettes.$primary,
    ),
  )
);

body {
  @include mat.all-component-themes($theme);
  @include mat.color-variants-backwards-compatibility($theme);

  mat-divider {
    --mat-divider-color: #{colors.$border};
  }
  mat-expansion-panel {
    --mat-expansion-container-background-color: transparent;
  }
  mat-form-field {
    --mat-form-field-filled-active-indicator-color: #{map.get(
        mat-palettes.$grey,
        35
      )};
    --mat-form-field-filled-container-color: #{map.get(mat-palettes.$grey, 17)};
    --mat-form-field-filled-focus-active-indicator-color: #{colors.$primary_fg};
  }
  mat-paginator {
    --mat-paginator-container-background-color: transparent;
  }
  mat-table {
    --mat-table-background-color: transparent;
    --mat-table-row-item-outline-color: #{colors.$border};
  }
  mat-toolbar {
    --mat-toolbar-container-background-color: #{map.get(mat-palettes.$grey, 0)};
  }
  mat-tooltip-component {
    --mat-tooltip-container-color: #{map.get(mat-palettes.$grey, 4)};
    --mat-tooltip-supporting-text-color: #{colors.$default_fg};
  }

  .mat-accent.mat-mdc-checkbox {
    --mat-checkbox-selected-focus-icon-color: #{colors.$primary_fg};
    --mat-checkbox-selected-focus-state-layer-color: #{colors.$primary_fg};
    --mat-checkbox-selected-hover-icon-color: #{colors.$primary_fg};
    --mat-checkbox-selected-hover-state-layer-color: #{colors.$primary_fg};
    --mat-checkbox-selected-icon-color: #{colors.$primary_fg};
    --mat-checkbox-selected-pressed-icon-color: #{colors.$primary_fg};
    --mat-checkbox-unselected-pressed-state-layer-color: #{colors.$primary_fg};
  }

  .mat-mdc-raised-button {
    $fg-color: white;

    @each $variant, $bg-color in palettes.$buttons {
      &.mat-#{$variant} {
        background: $bg-color;
        color: $fg-color;
      }
    }

    &.mat-mdc-button-disabled {
      filter: grayscale(0.76) brightness(0.5);
    }
  }

  /* Fix cut arrows */
  .mat-sort-header-arrow,
  [dir='rtl'] .mat-sort-header-position-before .mat-sort-header-arrow {
    margin: 0 0 0 $spacing-4xs;
  }
}

a {
  color: colors.$anchor;

  &.secondary:not(.active):not(:hover) {
    color: colors.$anchor-secondary;
  }

  &.active,
  &:hover {
    color: colors.$anchor-hover;
  }
}

hr,
vr {
  border-color: colors.$border;
}

mat-snack-bar-container .mat-mdc-snackbar-surface {
  --mat-snack-bar-container-color: #{colors.$default_bg};
  --mat-snack-bar-supporting-text-color: #{colors.$default_fg};
}

@each $status, $color in palettes.$feedback {
  $bg-color: $color;
  $fg-color: colors.$default_fg;

  mat-card-content.#{$status} {
    background-color: $bg-color;
    color: $fg-color;
  }

  mat-snack-bar-container.#{$status} .mat-mdc-snackbar-surface {
    --mat-snack-bar-container-color: #{$bg-color};
    --mat-snack-bar-supporting-text-color: #{$fg-color};
  }
}

mat-card {
  &.composite {
    .composite-header {
      .header:not(.tab) {
        border-color: colors.$border;
      }
    }

    .composite-footer {
      .footer:not(.tab) {
        border-color: colors.$border;
      }
    }
  }
}
