@use '@angular/material' as mat;

@import 'colors';
@import 'material-palettes';

@include mat.elevation-classes();
@include mat.app-background();

$theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      // "primary" == bg
      primary: $mat-grey-palette,
      // "tertiary" == fg
      tertiary: mat.$orange-palette,
    ),
  )
);

body {
  @include mat.all-component-themes($theme);
  @include mat.color-variants-backwards-compatibility($theme);

  mat-divider {
    --mat-divider-color: #{$c-border};
  }
  mat-expansion-panel {
    --mat-expansion-container-background-color: transparent;
  }
  mat-form-field {
    --mat-form-field-filled-active-indicator-color: #{map-get(
        $grey-palette,
        35
      )};
    --mat-form-field-filled-container-color: #{map-get($grey-palette, 17)};
    --mat-form-field-filled-focus-active-indicator-color: #{$fg-primary};
  }
  mat-paginator {
    --mat-paginator-container-background-color: transparent;
  }
  mat-table {
    --mat-table-background-color: transparent;
    --mat-table-row-item-outline-color: #{$c-border};
  }
  mat-toolbar {
    --mat-toolbar-container-background-color: #{map-get($grey-palette, 0)};
  }
  mat-tooltip-component {
    --mat-tooltip-container-color: #{map-get($grey-palette, 4)};
    --mat-tooltip-supporting-text-color: #{$fg-gray};
  }

  .mat-accent.mat-mdc-checkbox {
    --mat-checkbox-selected-focus-icon-color: #{$fg-primary};
    --mat-checkbox-selected-focus-state-layer-color: #{$fg-primary};
    --mat-checkbox-selected-hover-icon-color: #{$fg-primary};
    --mat-checkbox-selected-hover-state-layer-color: #{$fg-primary};
    --mat-checkbox-selected-icon-color: #{$fg-primary};
    --mat-checkbox-selected-pressed-icon-color: #{$fg-primary};
    --mat-checkbox-unselected-pressed-state-layer-color: #{$fg-primary};
  }

  .mat-mdc-raised-button {
    @mixin apply-button-theme($background) {
      background: $background;
      color: darken($background, 67%);
    }

    &.mat-unthemed {
      @include apply-button-theme(map-get($grey-palette, 50));
    }
    &.mat-primary {
      @include apply-button-theme(map-get($primary-palette, 60));
    }
    &.mat-accent {
      @include apply-button-theme(map-get($accent-palette, 60));
    }
    &.mat-warn {
      @include apply-button-theme(map-get($warn-palette, 60));
    }
  }
}

a {
  color: $anchor;

  &.secondary:not(.active):not(:hover) {
    color: $anchor-secondary;
  }

  &.active,
  &:hover {
    color: $anchor-hover;
  }
}

hr,
vr {
  border-color: $c-border;
}

mat-card-content {
  @each $status, $palette in $mat-colors-by-log-level {
    &.#{$status} {
      background-color: map-get($palette, 60);
      color: white;
    }
  }
}

mat-snack-bar-container {
  @each $status, $palette in $mat-colors-by-log-level {
    &.#{$status} .mat-mdc-snackbar-surface {
      --mat-snackbar-container-color: #{map-get($palette, 60)};
      color: white;
    }
  }
}

mat-card {
  &.composite {
    .composite-header {
      .header:not(.tab) {
        border-color: $c-border;
      }
    }

    .composite-footer {
      .footer:not(.tab) {
        border-color: $c-border;
      }
    }
  }
}
