@use 'sass:map';

@use '@angular/material' as mat;

@use 'colors';
@use 'palettes';

@include mat.elevation-classes();
@include mat.app-background();

$theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      // "primary" == bg
      primary: palettes.$mat-grey,
      // "tertiary" == fg
      tertiary: palettes.$primary,
    ),
  )
);

body {
  @include mat.all-component-themes($theme);
  @include mat.color-variants-backwards-compatibility($theme);

  mat-divider {
    --mat-divider-color: #{colors.$border};
  }
  mat-expansion-panel {
    --mat-expansion-container-background-color: transparent;
  }
  mat-form-field {
    --mat-form-field-filled-active-indicator-color: #{map.get(
        palettes.$grey,
        35
      )};
    --mat-form-field-filled-container-color: #{map.get(palettes.$grey, 17)};
    --mat-form-field-filled-focus-active-indicator-color: #{colors.$primary_fg};
  }
  mat-paginator {
    --mat-paginator-container-background-color: transparent;
  }
  mat-table {
    --mat-table-background-color: transparent;
    --mat-table-row-item-outline-color: #{colors.$border};
  }
  mat-toolbar {
    --mat-toolbar-container-background-color: #{map.get(palettes.$grey, 0)};
  }
  mat-tooltip-component {
    --mat-tooltip-container-color: #{map.get(palettes.$grey, 4)};
    --mat-tooltip-supporting-text-color: white;
  }

  .mat-accent.mat-mdc-checkbox {
    --mat-checkbox-selected-focus-icon-color: #{colors.$primary_fg};
    --mat-checkbox-selected-focus-state-layer-color: #{colors.$primary_fg};
    --mat-checkbox-selected-hover-icon-color: #{colors.$primary_fg};
    --mat-checkbox-selected-hover-state-layer-color: #{colors.$primary_fg};
    --mat-checkbox-selected-icon-color: #{colors.$primary_fg};
    --mat-checkbox-selected-pressed-icon-color: #{colors.$primary_fg};
    --mat-checkbox-unselected-pressed-state-layer-color: #{colors.$primary_fg};
  }

  .mat-mdc-raised-button {
    @mixin apply-button-theme($background) {
      background: $background;
      color: darken($background, 67%);
    }

    &.mat-unthemed {
      @include apply-button-theme(map.get(palettes.$grey, 40));
    }
    &.mat-primary {
      @include apply-button-theme(map.get(palettes.$primary, 60));
    }
    &.mat-accent {
      @include apply-button-theme(map.get(palettes.$accent, 60));
    }
    &.mat-warn {
      @include apply-button-theme(map.get(palettes.$warn, 60));
    }
  }
}

a {
  color: colors.$anchor;

  &.secondary:not(.active):not(:hover) {
    color: colors.$anchor-secondary;
  }

  &.active,
  &:hover {
    color: colors.$anchor-hover;
  }
}

hr,
vr {
  border-color: colors.$border;
}

@function get-log-level-bg($palette) {
  @return desaturate(map.get($palette, 50), 30%);
}

mat-card-content {
  @each $status, $palette in palettes.$by-log-level {
    &.#{$status} {
      background-color: get-log-level-bg($palette);
      color: white;
    }
  }
}

mat-snack-bar-container {
  @each $status, $palette in palettes.$by-log-level {
    &.#{$status} .mat-mdc-snackbar-surface {
      --mat-snackbar-container-color: get-log-level-bg($palette);
      color: white;
    }
  }
}

mat-card {
  &.composite {
    .composite-header {
      .header:not(.tab) {
        border-color: colors.$border;
      }
    }

    .composite-footer {
      .footer:not(.tab) {
        border-color: colors.$border;
      }
    }
  }
}
