@import 'variables';

mat-dialog-container {
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
  padding: 0 !important;
}

mat-spinner {
  &.full-page {
    margin: calc((100vh - #{$mat-toolbar-height} - #{$mat-spinner-size}) / 2)
      auto;
  }
}

mat-form-field {
  &.no-label {
    .mat-input-infix {
      border-top: none !important;
    }
  }

  &.no-subscript {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

mat-expansion-panel {
  mat-expansion-panel-header {
    padding: 0 $spacing-2xs;
  }

  .mat-expansion-panel-body {
    padding: 0;
  }
}

mat-paginator {
  .mat-mdc-paginator-container {
    min-height: 0;
    padding: 0.5rem;
  }

  &.basic {
    .mat-mdc-paginator-container {
      padding: 0;

      .mat-mdc-paginator-range-actions {
        width: 100%;

        .mat-mdc-paginator-range-label {
          width: 100%;
          margin: 0 0 0 $spacing-2xs;
        }
      }

      .mat-mdc-paginator-page-size {
        display: none;
      }
    }
  }
}

button {
  fa-icon + *,
  * + fa-icon {
    margin-left: $spacing-4xs;
  }
}

.mat-snack-bar-container {
  max-width: 100vw !important;
}

.mat-mdc-chip {
  $horizontal-padding: $spacing-8xs;
  display: inline-block;
  line-height: 1rem;
  outline: none;
  white-space: nowrap;

  &.rounded {
    border-radius: 100px;
    padding: $horizontal-padding $spacing-3xs;
  }

  &:not(.rounded) {
    $vertical-padding: $spacing-4xs;
    border-radius: $vertical-padding;
    padding: $horizontal-padding $vertical-padding;
  }
}

.mat-card {
  overflow: hidden;
}

.mat-header-cell {
  font-size: $font-size-88;
}

.mat-menu-content {
  padding: 0 !important;
}

/* fix accessibility warning on transparent placeholders */
.mat-form-field-hide-placeholder .mat-mdc-select-placeholder {
  visibility: hidden;
}

.cdk-global-scrollblock {
  overflow-y: auto;
}

/* ng16 */
html {
  mat-list.no-padding mat-list-item {
    padding-left: 0;
    padding-right: 0;
  }

  .mdc-tooltip--multiline .mdc-tooltip__surface {
    text-align: center;
    font-size: 0.75rem;
  }

  div.mat-mdc-select-panel {
    padding: 0;

    .mat-mdc-option {
      $height: 2.5rem;
      line-height: $height;
      min-height: $height;
    }
  }

  div.mat-mdc-menu-content {
    padding: 0;

    .mat-mdc-menu-item {
      $height: 2.5rem;
      line-height: $height;
      min-height: $height;
    }
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    --mdc-icon-button-icon-size: #{$spacing-2xl};
    padding: $spacing-2xs 0;
  }
}
