@import 'variables';

mat-dialog-container {
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
  padding: 0 !important;
}

mat-spinner {
  &.full-page {
    margin: calc((100vh - #{$mat-toolbar-height} - #{$mat-spinner-size}) / 2)
      auto;
  }
}

mat-form-field {
  &.no-label {
    .mat-input-infix {
      border-top: none !important;
    }
  }
}

mat-expansion-panel {
  mat-expansion-panel-header {
    padding: 0 $spacing-xxs;
  }

  .mat-expansion-panel-body {
    padding: 0;
  }
}

mat-paginator {
  &.basic {
    .mat-paginator-container {
      padding: 0;

      .mat-paginator-range-actions {
        width: 100%;

        .mat-paginator-range-label {
          width: 100%;
          margin: 0 0 0 $spacing-xxs;
        }
      }

      .mat-paginator-page-size {
        display: none;
      }
    }
  }
}

button {
  fa-icon + *,
  * + fa-icon {
    margin-left: $spacing-xxxs;
  }
}

.mat-snack-bar-container {
  max-width: 100vw !important;
}

.mat-chip {
  display: inline-block;
  margin: 0 $spacing-xxxxs $spacing-xxxxs * 2;
  outline: none;

  &.rounded {
    $height: 22px;
    border-radius: $height / 2;
    line-height: $height;
    padding: $spacing-xxxxs $spacing-xxs;
  }

  &:not(.rounded) {
    $vertical-padding: $spacing-xxxs;
    border-radius: $vertical-padding * 3/4;
    padding: $spacing-xxxxs $vertical-padding;
    white-space: nowrap;
  }
}

.mat-card {
  overflow: hidden;
}

.mat-header-cell {
  font-size: 14px;
}

.mat-select-panel {
  max-height: 50vh !important;
}

.mat-menu-content {
  padding: 0 !important;
}

.cdk-global-scrollblock {
  overflow-y: auto;
}
