@use '@angular/material' as mat;
@import 'src/app/styles/variables';

@media (min-width: ($screen-2xs + 1)) {
  :root {
    --cover-width: 88px;
  }
}

@media (max-width: $screen-2xs) {
  :root {
    --cover-width: 48px;
  }
}

.media-table {
  mat-row {
    &.completed {
      @extend .border-left-green;
    }
    &.repeating {
      @extend .border-left-blue;
    }
    &.planning,
    &.watching {
      @extend .border-left-orange;
    }
    &.paused {
      @extend .border-left-pink;
    }
    &.dropped {
      @extend .border-left-red;
    }
  }

  mat-cell,
  mat-footer-cell,
  mat-header-cell {
    padding: 0 $spacing-2xs;
  }

  mat-header-cell,
  mat-cell {
    &:not(.justify-start) {
      justify-content: center;

      .mat-sort-header-content {
        padding-left: 18px;
      }
    }
  }

  .mat-mdc-header-row {
    min-height: 50px;
  }

  .mat-column-actions {
    align-items: stretch;
    overflow: visible;
    padding: 0;

    .media-table .mat-column-actions .container {
      display: flex;
      flex-direction: column;
      gap: $spacing-4xs;
    }

    .menu-toggle {
      --size: 2rem;

      align-items: center;
      display: flex;
      justify-content: center;
      height: var(--size);
      text-align: center;
      vertical-align: bottom;
      width: var(--size);

      .fas {
        font-size: $font-size-100;
      }

      @media (max-width: $screen-2xs) {
        .fas {
          font-size: $font-size-125;
        }
      }
    }
  }

  .mat-column-cover-image {
    flex: 0 0 var(--cover-width);

    img.cover {
      height: auto;
      min-height: var(--cover-width);
      max-width: var(--cover-width);
    }
  }

  .mat-column-title-romaji {
    overflow: visible;
    display: flex;
    align-items: center;
  }

  .mat-column-format {
    display: flex;
    gap: $spacing-6xs;
  }

  .mat-column-start-date {
    .text {
      line-height: 1;
      text-align: center;
      white-space: pre-line;
    }
  }

  .mat-column-genres {
    mat-list {
      padding: 0;
      width: 100%;

      mat-list-item {
        height: $spacing-xl;
        text-align: center;

        mt-chip {
          justify-content: center;
        }

        // .mat-list-item-content {
        //   padding: 0;

        //   .mat-mdc-chip {
        //     margin: 0;

        //     &.rounded {
        //       $height: 19px;
        //       line-height: $height;
        //       border-radius: $height * 0.5;
        //       padding: 0 $spacing-2xs;
        //     }
        //   }
        // }
      }
    }
  }

  .mdc-data-table__row:last-child .mat-mdc-cell {
    border-bottom: 1px solid var(--mat-table-row-item-outline-color);
  }

  /* columns */

  .mat-column-actions {
    flex: 0.5;
  }
  .mat-column-format {
    flex: 1;
  }
  .mat-column-start-date {
    flex: 1;
  }
  .mat-column-genres {
    flex: 2;
  }
  .mat-column-score {
    flex: 1;
  }
  .mat-column-episodes {
    flex: 1;
  }

  @media (min-width: ($screen-md + 1)) {
    .mat-column-title-romaji {
      flex: 9;
    }
  }

  @media (max-width: $screen-md) {
    .mat-column-title-romaji {
      flex: 4;
    }
  }

  @media (max-width: $screen-sm) {
    .mat-column-start-date,
    .mat-column-genres,
    .mat-column-score,
    .mat-column-episodes {
      display: none;
    }
  }

  @media (max-width: $screen-xs) {
    .mat-column-title-romaji {
      flex: 4.5;
    }
  }

  @media (max-width: $screen-2xs) {
    .mat-column-title-romaji {
      flex: 2.75;
    }
  }

  @media (max-width: $screen-3xs) {
    .mat-column-cover-image,
    .mat-column-format {
      display: none;
    }
  }
}
