@use '@angular/material' as mat;
@import 'src/app/styles/variables';

$desktop-horizontal-cell-padding: 1.5rem;
$mobile-horizontal-cell-padding: 2rem;
$gap: 0.5rem;

@media (min-width: ($screen-2xs + 1)) {
  :root {
    --cover-width: 88px;
  }
}

@media (max-width: $screen-2xs) {
  :root {
    --cover-width: 48px;
  }
}

.media-table {
  mat-row {
    &.completed {
      @extend .border-left-green;
    }
    &.repeating {
      @extend .border-left-blue;
    }
    &.planning,
    &.watching {
      @extend .border-left-orange;
    }
    &.paused {
      @extend .border-left-pink;
    }
    &.dropped {
      @extend .border-left-red;
    }
  }

  mat-cell,
  mat-footer-cell,
  mat-header-cell {
    --padding: #{$desktop-horizontal-cell-padding};

    &:first-of-type {
      padding-left: var(--padding);
    }

    &:last-of-type {
      padding-right: var(--padding);
    }

    @media (max-width: $screen-2xs) {
      --padding: #{$mobile-horizontal-cell-padding};
    }
  }

  mat-header-row,
  mat-row {
    gap: $gap;
  }

  mat-header-cell,
  mat-cell {
    &:not(.justify-start) {
      justify-content: center;

      .mat-sort-header-content {
        padding-left: 18px;
      }
    }
  }

  .mat-header-row {
    min-height: 50px;
  }

  .mat-column-actions {
    align-items: stretch;
    overflow: visible;

    .menu-toggle {
      --size: #{$desktop-horizontal-cell-padding + $gap};

      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      margin: 0 -#{$gap} 0 calc(-1 * (var(--size) - #{$gap}));
      height: var(--size);
      text-align: center;
      vertical-align: bottom;
      width: var(--size);

      .fas {
        font-size: $font-size-100;
      }

      @media (max-width: $screen-2xs) {
        --size: #{$mobile-horizontal-cell-padding + $gap};

        .fas {
          font-size: $font-size-125;
        }
      }

      @media (max-width: $screen-2xs) {
        --size: #{$mobile-horizontal-cell-padding + $gap};

        font-size: $font-size-125;
      }
    }
  }

  .mat-column-cover-image {
    flex: 0 0 var(--cover-width);

    img.cover {
      height: auto;
      min-height: var(--cover-width);
      max-width: var(--cover-width);
    }
  }

  .mat-column-title-romaji {
    overflow: visible;
    display: flex;
    align-items: center;

    .favourite {
      margin-left: auto;

      @media (min-width: ($screen-3xs + 1)) {
        margin-right: $spacing-4xs;
      }
      @media (max-width: $screen-3xs) {
        margin-right: -$spacing-md;
      }
    }
  }

  .mat-column-start-date {
    .text {
      line-height: 1;
      text-align: center;
      white-space: pre-line;
    }
  }

  .mat-column-genres {
    mat-list {
      padding: 0;
      width: 100%;

      mat-list-item {
        height: $spacing-xl;
        justify-items: center;

        .mat-list-item-content {
          padding: 0;

          .mat-chip {
            margin: 0;

            &.rounded {
              $height: 19px;
              line-height: $height;
              border-radius: $height * 0.5;
              padding: 0 $spacing-2xs;
            }
          }
        }
      }
    }
  }

  /* columns */

  .mat-column-actions {
    flex: 0;
  }
  .mat-column-format {
    flex: 1;
  }
  .mat-column-start-date {
    flex: 1;
  }
  .mat-column-genres {
    flex: 2;
  }
  .mat-column-score {
    flex: 1;
  }
  .mat-column-episodes {
    flex: 1;
  }

  @media (min-width: ($screen-md + 1)) {
    .mat-column-title-romaji {
      flex: 9;
    }
  }

  @media (max-width: $screen-md) {
    .mat-column-title-romaji {
      flex: 4;
    }
  }

  @media (max-width: $screen-sm) {
    .mat-column-start-date,
    .mat-column-genres,
    .mat-column-score,
    .mat-column-episodes {
      display: none;
    }
  }

  @media (max-width: $screen-xs) {
    .mat-column-title-romaji {
      flex: 4.5;
    }
  }

  @media (max-width: $screen-2xs) {
    .mat-column-title-romaji {
      flex: 2.75;
    }
  }

  @media (max-width: $screen-3xs) {
    .mat-column-cover-image,
    .mat-column-format {
      display: none;
    }
  }
}
