@import 'variables';

mat-dialog-container {
  $header-height: 70px;
  $footer-height: 85px;
  $separator-thickness: 1px;

  max-width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 !important;

  .mat-card {
    display: flex;
    flex-direction: column;

    .mat-divider {
      position: relative;
    }

    .header,
    .footer {
      display: flex;
      align-items: center;
    }

    .header {
      .title {
        flex: 1;
        padding-right: $spacing-xs;
      }
    }

    > .content {
      flex: 1;
      max-height: calc(100vh - #{$header-height} - #{$footer-height} - #{$separator-thickness} * 2);
      overflow-y: auto;
      box-sizing: border-box;
    }
  }
}
