@use 'sass:color';
@use 'sass:map';

@use 'mat-palettes';
@use 'variables' as *;

$colors: (
  'blue': hsl(223, 100%, 80%),
  'red': hsl(0, 100%, 70%),
  'orange': hsl(36, 100%, 67%),
  'yellow': hsl(55, 100%, 70%),
  'lime': hsl(75, 67%, 60%),
  'green': hsl(120, 50%, 65%),
);

.pill {
  border-radius: $spacing-4xs;
  box-shadow: 0 0 $spacing-8xs #000c;
  color: map.get(mat-palettes.$grey, 10);
  line-height: 1;
  margin: $spacing-4xs;
  padding: $spacing-6xs;

  @each $name, $color in $colors {
    &.#{$name} {
      background: $color;
    }
  }
}
