@import 'variables';

$horizontal-cell-padding: $spacing-xxs;

.series-table {

  mat-cell {
    padding: $spacing-xxxs 0;

    &:not(.mat-column-cover-image) {
      $vertical-padding: $spacing-xxxs / 2;
      padding-left: $vertical-padding;
      padding-right: $vertical-padding;
    }
  }

  .mat-column-actions {
    overflow: visible;
    font-size: 0;
    flex: 0;

    .menu-toggle {
      $size: $spacing-s;
      width: $size;
      margin-left: -$size;
      font-size: 16px;
      text-align: center;
      vertical-align: bottom;
    }

  }

  .mat-column-start-date,
  .mat-column-score,
  .mat-column-mean-score,
  .mat-column-episodes {
    flex: 0.65;
  }

  .mat-column-title {
    flex: 4;
    overflow: visible;
    display: flex;
    align-items: center;

    .favourite {
      margin-left: auto;

      @media (min-width: #{$screen-xxxs + 1}) {
        margin-right: $spacing-xxxs;
      }
      @media (max-width: $screen-xxxs) {
        margin-right: -$spacing-xs;
      }
    }
  }

  .mat-column-genres {
    mat-list {
      padding: 0;

      mat-list-item {
        height: $spacing-s;

        .mat-list-item-content {
          padding: 0;

          .mat-chip {
            $height: 19px;
            line-height: $height;
            border-radius: $height / 2;
            padding: 0 $spacing-xxs;
          }
        }
      }
    }
  }

  .mat-column-cover-image {
    img.cover {
      height: auto;

      @media (min-width: $screen-xxs + 1) {
        max-width: 88px;
      }
      @media (max-width: $screen-xxs) {
        max-width: 48px;
      }
    }
  }

  @media (max-width: $screen-xxs) {
    $actions-column-width: 40px;

    .mat-header-row,
    .mat-row {
      padding: 0 $spacing-xxs 0 $actions-column-width;
    }

    .mat-column-actions {
      .menu-toggle {
        width: $actions-column-width;
        margin-left: -$actions-column-width;
        font-size: $spacing-s;
      }
    }
  }


  /* columns */

  @media (min-width: $screen-m + 1) {
    .mat-column-cover-image {
      flex: .95;
    }
    .mat-column-title {
      flex: 4;
    }
    .mat-column-format {
      flex: .6;
    }
    .mat-column-start-date {
      flex: .35;
    }
    .mat-column-genres {
      flex: .95;
    }
    .mat-column-score,
    .mat-column-mean-score {
      flex: .4;
    }
    .mat-column-episodes {
      flex: .5;
    }
  }

  @media (max-width: $screen-m) {
    .mat-column-cover-image {
      flex: 1.4;
    }
    .mat-column-title {
      flex: 4;
    }
    .mat-column-format {
      flex: .9;
    }
    .mat-column-start-date {
      flex: .55;
    }
    .mat-column-genres {
      flex: 1.65;
    }
    .mat-column-score,
    .mat-column-mean-score {
      flex: .6;
    }
    .mat-column-episodes {
      flex: .75;
    }
  }

  @media (max-width: $screen-s) {
    .mat-column-start-date,
    .mat-column-genres,
    .mat-column-score,
    .mat-column-mean-score,
    .mat-column-episodes {
      display: none;
    }

    .mat-column-cover-image {
      flex: 1.05;
    }
    .mat-column-format {
      flex: 0.65;
    }
  }

  @media (max-width: $screen-xs) {
    .mat-column-cover-image {
      flex: 1.5;
    }
    .mat-column-format {
      flex: .9;
    }
  }

  @media (max-width: $screen-xxs) {
    .mat-column-cover-image {
      flex: 1.5;
    }
    .mat-column-format {
      flex: 1.6;
    }
  }

  @media (max-width: $screen-xxxs) {
    .mat-column-cover-image,
    .mat-column-format {
      display: none;
    }
  }

}