@import 'variables';

$spacings: (
  3xs: $spacing-4xs,
  2xs: $spacing-2xs,
  xs: $spacing-xs,
  sm: $spacing-sm,
  md: $spacing-md,
  lg: $spacing-lg,
  xl: $spacing-xl,
  2xl: $spacing-2xl,
  3xl: $spacing-3xl,
);

$positions: top left bottom right;
$measures: margin padding;

/* spacing by units */
@each $measure in $measures {
  @each $spacing, $value in $spacings {
    /* by position */
    @each $position in $positions {
      .#{$measure}-#{$position}-#{$spacing} {
        #{$measure}-#{$position}: $value !important;
      }
    }

    /* general */
    .#{$measure}-#{$spacing} {
      #{$measure}: $value !important;
    }

    /* bidirectional */
    .horizontal-#{$measure}-#{$spacing} {
      #{$measure}-left: $value !important;
      #{$measure}-right: $value !important;
    }
    .vertical-#{$measure}-#{$spacing} {
      #{$measure}-top: $value !important;
      #{$measure}-bottom: $value !important;
    }
  }
}

/* no spacing */
@each $measure in $measures {
  /* by position */
  @each $position in $positions {
    .no-#{$measure}-#{$position} {
      #{$measure}-#{$position}: 0 !important;
    }
  }

  /* general */
  .no-#{$measure} {
    #{$measure}: 0 !important;
  }

  /* bidirectional */
  .no-horizontal-#{$measure} {
    #{$measure}-left: 0 !important;
    #{$measure}-right: 0 !important;
  }
  .no-vertical-#{$measure} {
    #{$measure}-top: 0 !important;
    #{$measure}-bottom: 0 !important;
  }
}
