@use 'variables' as *;

.inline-block {
  display: inline-block !important;
}
.display-block {
  display: block !important;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.overflow-hidden {
  overflow: hidden;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.wrap-balance {
  text-wrap: balance;
}

.capitalize {
  text-transform: capitalize;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.full-width {
  width: 100%;
}
.width-auto {
  width: auto !important;
}

.margin-auto {
  margin: auto !important;
}

.baseline {
  vertical-align: baseline;
}

.vertically-centered {
  vertical-align: middle;
}

.transition {
  transition: $transition-duration;
}

label[for],
.clickable {
  cursor: pointer;
}

[hidden] {
  display: none !important;
}

[title] {
  cursor: pointer;
}

.square-button {
  min-width: 36px !important;
  padding: 0 !important;
}

.border-box {
  box-sizing: border-box;
}

.vertical-top {
  vertical-align: top;
}
