/* spacing */
$spacing-xxxxs: 2px;
$spacing-xxxs: 4px;
$spacing-xxs: 8px;
$spacing-xs: 16px;
$spacing-s: 24px;
$spacing-m: 32px;
$spacing-l: 48px;
$spacing-xl: 64px;
$spacing-xxl: 96px;
$spacing-xxxl: 128px;

/* font sizes */
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 28px;

/* device sizes */
$screen-xxxs: 320px;
$screen-xxs: 480px;
$screen-xs: 576px;
$screen-s: 768px;
$screen-m: 1024px;
$screen-l: 1360px;
$screen-xl: 1920px;

/* material */
$mat-toolbar-height: 64px;
$mat-spinner-size: 128px;

/* generic */
$page-padding: $spacing-m;
$card-padding: $spacing-s;
$expansion-panel-padding: $spacing-s;
$max-input-size: 640px;

/* specific */
$footer-height: 103px;
