$spacings: (
  xxxs: 4px,
  xxs: 8px,
  xs: 16px,
  s: 24px,
  m: 32px,
  l: 48px,
  xl: 64px,
  xxl: 96px,
  xxxl: 128px
);

$font-sizes: (
  xs: 12px,
  s: 14px,
  m: 16px
);

$desktop-l: 1920px;
$desktop-m: 1360px;
$desktop-s: 1024px;
$tablet-m: 768px;
$tablet-s: 576px;