/* spacing */
$spacing-xxxs: 4px;
$spacing-xxs: 8px;
$spacing-xs: 16px;
$spacing-s: 24px;
$spacing-m: 32px;
$spacing-l: 48px;
$spacing-xl: 64px;
$spacing-xxl: 96px;
$spacing-xxxl: 128px;

/* font sizes */
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;

/* device sizes */
$screen-xxxs: 320px;
$screen-xxs: 480px;
$screen-xs: 576px;
$screen-s: 768px;
$screen-m: 1024px;
$screen-l: 1360px;
$screen-xl: 1920px;