<mt-modal>
  <mt-modal-header (onClosePressed)="dismiss()" titleClass="overflow-hidden">
    <div class="text-ellipsis">
      <mt-media-actions
        [editEnabled]="false"
        [listMode]="false"
        [media]="listEntry.media"
        [origin]="origin"
        [additionalInfoEnabled]="origin !== 'view'"
        (onListEntryChanges)="onListEntryChanges($event)"
        class="inline-block margin-right-2xs"
      >
      </mt-media-actions>

      <span [matTooltip]="getMediaTitle(listEntry.media)">
        {{ getMediaTitle(listEntry.media) }}</span
      >
    </div>
  </mt-modal-header>

  <form [formGroup]="listEntryForm" (ngSubmit)="saveEntry($event)">
    <mt-modal-content>
      <!-- status -->
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'media.status' | translate }}</mat-label>

          <mat-select formControlName="status">
            @for (status of listEntryStatuses; track status) {
              <mat-option [value]="status">
                {{
                  (isAnime(media.type) ? 'anime' : 'manga') +
                    '.statusValues.' +
                    status | translate
                }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'media.score' | translate }} (*/10)</mat-label>

          <input
            matInput
            formControlName="score"
            max="10"
            min="0"
            placeholder="0"
            step=".5"
            type="number"
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'media.timesRepeated' | translate }}</mat-label>

          <input
            matInput
            formControlName="repeat"
            min="0"
            placeholder="0"
            step="1"
            type="number"
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>
            {{ getMediaTypeProgressLiteral(listEntry.media.type) | translate }}
            (*/{{ getMediaProgress(listEntry.media) || '?' }})
          </mat-label>

          <input
            matInput
            formControlName="progress"
            min="0"
            placeholder="0"
            step="1"
            type="number"
          />
        </mat-form-field>
      </div>
    </mt-modal-content>

    <mt-modal-footer>
      <span class="buttons-container float-right">
        <button
          mat-raised-button
          type="button"
          color="warn"
          (click)="deleteEntry($event)"
        >
          <fa-icon name="trash"></fa-icon>
          <span>{{ 'generic.delete' | translate }}</span>
        </button>

        <button
          mat-raised-button
          type="submit"
          color="accent"
          [disabled]="!listEntryForm.valid || !isSubmitAvailable()"
        >
          <fa-icon name="save"></fa-icon>
          <span>{{ 'generic.submit' | translate }}</span>
        </button>
      </span>
    </mt-modal-footer>
  </form>
</mt-modal>
