@import "../../styles/variables";

.table-filter {
  padding-top: $spacing-xxs !important;
  padding-bottom: 0 !important;
}

.statuses-wrapper {
  mat-checkbox {
    display: inline-block;
    vertical-align: text-bottom;
  }

  .status-wrapper {
    margin-right: $spacing-xs;
    display: inline-block;
    min-width: 104px;

    .go-to-icon {
      line-height: $spacing-s;
      vertical-align: bottom;
    }
  }
}

.status-table-wrapper {
  &:not(:last-of-type) {
    margin-bottom: $spacing-l - $spacing-xxs;
  }
}