<div class="narrow-page">
  <mat-card *ngIf="!user" class="alert warning">
    <h4>
      <fa-icon name="exclamation-circle" class="margin-right-xxs"></fa-icon>
      {{ 'user.notLoggedIn' | translate }}
    </h4>
  </mat-card>

  <mat-spinner *ngIf="user && !ready" mode="indeterminate" class="full-page"></mat-spinner>

  <div *ngIf="user && ready && !errorGotten">
    <div *ngIf="statuses && statuses.length">
      <mat-card class="table-filter">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="{{ 'anime.search.filters.byTitle' | translate }}"
            (keyup)="applyFilter($event.target.value)"
          />
        </mat-form-field>
      </mat-card>

      <mat-card class="margin-top-s">
        <h3>{{ 'anime.userList.show' | translate }} / {{ 'anime.userList.goTo' | translate }}</h3>

        <div class="statuses-wrapper">
          <span *ngFor="let status of statuses" class="status-wrapper">
            <div *ngIf="hasDataOfStatus(status.value)">
              <mat-checkbox [(ngModel)]="status.shown">
                {{ 'anime.statusValues.' + status.value | translate }}
              </mat-checkbox>

              <a class="go-to-link" (click)="scrollToStatus(status.value)">
                <fa-icon name="arrow-down" class="vertically-centered margin-left-xxxs"></fa-icon>
              </a>
            </div>
          </span>
        </div>
      </mat-card>

      <div *ngFor="let status of statuses">
        <div id="{{ status.value }}" *ngIf="status.shown && hasDataOfStatus(status.value)" class="status-table-wrapper">
          <mt-user-anime-list-table
            [tableStatus]="status.value"
            [tableData]="statusObjects[status.value]"
            [favouriteIDs]="favouriteIDs"
            [filter]="filter"
            (onEntryUpdate)="onEntryUpdate($event)"
          >
          </mt-user-anime-list-table>
        </div>
      </div>

      <div class="padding-top-xs padding-bottom-m">
        <h3>
          {{ 'settings.title' | translate }}
        </h3>

        <mat-slide-toggle [checked]="reloadOnUpdate" (change)="reloadOnUpdate = !reloadOnUpdate">
          {{ 'settings.reloadOnUpdate' | translate }}
        </mat-slide-toggle>
      </div>

      <mt-genres-overview [genreStatsList]="user.stats.favouredGenresOverview"> </mt-genres-overview>
    </div>

    <mat-card *ngIf="ready && !error && (!statuses || !statuses.length)">
      <h4>
        <fa-icon name="exclamation-circle" class="margin-right-xxs"></fa-icon>
        {{ 'anime.userList.noEntries' | translate }}
      </h4>
    </mat-card>
  </div>

  <mat-card *ngIf="error" class="error">
    <h4>
      <fa-icon name="exclamation-circle" class="margin-right-xxs"></fa-icon>
      {{ error }}
    </h4>
  </mat-card>
</div>
