<h3 class="header">
  {{ media.title.romaji }}
</h3>

<mat-divider></mat-divider>

<div class="content">
  <form [formGroup]="listEntryForm" (ngSubmit)="submit()">

    <mat-form-field class="score-input">
      <mat-label>Score</mat-label>
      <!--<input-->
        <!--matInput type="text" pattern="[0-9]{1,2}(\.[0-9])?"-->
        <!--[placeholder]="5" formControlName="score">-->
      <input
        matInput type="number" min="0" max="100" step="1"
        [placeholder]="50" formControlName="score">
    </mat-form-field> / 100

    <!--<mat-slider min="0" max="10" value="5" step="0.5" tickInterval="2" class="full-width no-padding"></mat-slider>-->

    <button mat-raised-button color="accent" class="display-block margin-auto" [disabled]="!listEntryForm.valid">
      <i class="fa fa-send fa-1x baseline margin-right-xxxs"></i>
      Submit
    </button>

  </form>
</div>