@import "../../styles/variables";

.header {
  margin: 0 0 $spacing-xs;
}

.content {
  margin: $spacing-xs 0 0;

  .form-group {
    //max-width: $max-input-size / 2;
    margin: auto;
  }

  mat-form-field {
    width: 100%;

    &.score-input {
      width: 64px;
    }

  }

}