<mt-modal>
  <mt-modal-header (onClosePressed)="dismiss()" titleClass="overflow-hidden">
    <div title="{{ media.title.romaji }}" class="text-ellipsis">
      <mt-media-actions
        *ngIf="media"
        [origin]="origin"
        [media]="media"
        [viewEnabled]="false"
        [editEnabled]="origin !== 'edit'"
        (onListEntryChanges)="onListEntryChanges($event)"
        class="inline-block margin-right-xxs"
      >
      </mt-media-actions
      >{{ media.title.romaji }}
    </div>
  </mt-modal-header>

  <mt-modal-content>
    <mt-anime-info *ngIf="media" [anime]="media" [generalInfoOnly]="true"> </mt-anime-info>
  </mt-modal-content>

  <mt-modal-footer>
    <div class="buttons-container">
      <button (click)="navigateToDetail()" mat-raised-button>
        <fa-icon name="newspaper"></fa-icon>
        <span>{{ 'media.goToDetail' | translate }}</span>
      </button>

      <div *ngIf="!media.mediaListEntry">
        <button (click)="setAsPlanning()" mat-raised-button>
          <fa-icon name="clock"></fa-icon>
          <span>{{ 'anime.userList.setAsPlanning' | translate }}</span>
        </button>
      </div>
    </div>
  </mt-modal-footer>
</mt-modal>
