<mt-modal>
  <mt-modal-header (onClosePressed)="dismiss()" titleClass="overflow-hidden">
    <div title="{{ media.title.romaji }}" class="text-ellipsis">
      <mt-media-actions [source]="view" *ngIf="media" [media]="media" class="inline-block margin-right-xxs">
      </mt-media-actions
      >{{ media.title.romaji }}
    </div>
  </mt-modal-header>

  <mt-modal-content>
    <mt-anime-info *ngIf="media" [anime]="media" [generalInfoOnly]="true"> </mt-anime-info>
  </mt-modal-content>

  <mt-modal-footer>
    <button mat-raised-button color="accent" (click)="goToDetail()">
      <fa-icon name="newspaper" class="baseline margin-right-xxxs"></fa-icon>
      {{ 'media.goToDetail' | translate }}
    </button>
  </mt-modal-footer>
</mt-modal>
