<mt-modal>
  <mt-modal-header (onClosePressed)="dismiss()">
    <mt-media-actions *ngIf="media" [media]="media" [fromModal]="true" class="inline-block margin-right-xxs">
    </mt-media-actions
    >{{ media.title.romaji }}</mt-modal-header
  >

  <mt-modal-content>
    <mt-anime-info *ngIf="media" [anime]="media" [generalInfoOnly]="true"> </mt-anime-info>
  </mt-modal-content>

  <mt-modal-footer>
    <button mat-raised-button color="accent" (click)="goToDetail()">
      <fa-icon name="newspaper" class="baseline margin-right-xxxs"></fa-icon>
      {{ 'media.goToDetail' | translate }}
    </button>
  </mt-modal-footer>
</mt-modal>
