@use 'variables' as *;

:host {
  > .content {
    flex: 1;
    max-height: calc(
      100vh - #{$modal-header-height} - #{$modal-footer-height} -
        #{$separator-thickness} * 2 - #{$modal-margin} * 2
    );
    max-width: calc(100vw - #{$modal-margin} * 2);
    overflow-y: auto;
    box-sizing: border-box;
  }
}
