@use 'variables' as *;

.content,
.placeholder {
  $min-height: $min-dashboard-column-height;
  $pagination-height: 40px;

  &.with-pagination {
    min-height: $min-height - $pagination-height;
  }
  &:not(.with-pagination) {
    min-height: $min-height;
  }
}

.placeholder {
  align-items: center;
  display: flex;
  justify-content: center;
}
