<mat-card class="composite compact">
  <div class="composite-header">
    <div class="header flex-1">
      <h4 class="no-margin">
        {{ mediaType.toLowerCase() + '.dashboard.relatedMedia' | translate }}
      </h4>
    </div>

    <mt-header-picker
      *ngIf="isAnime(mediaType)"
      iconName="filter"
      title="{{ 'media.format' | translate }}"
      placeholder="{{ 'media.formatValues.undefined' | translate }}"
      [multiple]="true"
      [options]="mediaFormats"
      [truncate]="true"
      [value]="selectedFormats"
      [getOptionLiteral]="getFormatLiteral"
      [onChange]="setSelectedFormats"
    ></mt-header-picker>

    <mt-header-picker
      iconName="award"
      title="{{ 'media.score' | translate }}"
      placeholder="{{ 'media.scoreValues.undefined' | translate }}"
      [options]="mediaScores"
      [value]="selectedScore"
      [getOptionLiteral]="getScoreLiteral"
      [onChange]="setSelectedScore"
    ></mt-header-picker>

    <mt-header-picker
      iconName="sort"
      title="{{ 'generic.sort' | translate }}"
      [options]="mediaSorts"
      [value]="selectedSort"
      [getOptionLiteral]="getSortLiteral"
      [onChange]="setSelectedSort"
    ></mt-header-picker>
  </div>

  <div class="content">
    <div #content>
      <div
        *ngIf="searching"
        class="placeholder"
        [ngClass]="{ 'with-pagination': pagination }"
      >
        <mat-spinner mode="indeterminate"></mat-spinner>
      </div>

      <div *ngIf="!searching" class="media-cover-grid">
        <mt-media-cover
          *ngFor="let media of mediaList"
          [media]="media"
        ></mt-media-cover>
      </div>

      <mt-pagination
        class="basic negative-bottom-margin"
        [pagination]="pagination"
        (changePage)="changePage($event)"
      >
      </mt-pagination>

      <mat-card *ngIf="pagination && !pagination.total" class="info">
        <h4>
          <fa-icon name="info-circle" class="margin-right-xxs"></fa-icon>
          {{ 'generic.noResults' | translate }}
        </h4>
      </mat-card>

      <mat-card *ngIf="error" class="error">
        <h4>
          <fa-icon name="exclamation-circle" class="margin-right-xxs"></fa-icon>
          {{ error }}
        </h4>
      </mat-card>
    </div>
  </div>
</mat-card>
