<mat-card class="composite compact">
  <div class="composite-header">
    <div class="header flex-1">
      <h2 class="text-100 bold no-margin">
        {{ mediaType.toLowerCase() + '.dashboard.relatedMedia' | translate }}
      </h2>
    </div>

    <mt-header-picker
      iconName="star-half-stroke"
      placeholder="{{ 'media.scoreValues.undefined' | translate }}"
      [matTooltip]="'media.score' | translate"
      [options]="mediaScores"
      [value]="selectedScore"
      [getOptionLiteral]="getScoreLiteral"
      [onChange]="setSelectedScore"
    ></mt-header-picker>

    <mt-header-picker
      *ngIf="isAnime(mediaType)"
      iconName="film"
      placeholder="{{ 'media.formatValues.undefined' | translate }}"
      [matTooltip]="'media.format' | translate"
      [multiple]="true"
      [options]="mediaFormats"
      [truncate]="true"
      [value]="selectedFormats"
      [getOptionLiteral]="getFormatLiteral"
      [onChange]="setSelectedFormats"
    ></mt-header-picker>

    <mt-header-picker
      iconName="sort"
      [matTooltip]="'generic.sort' | translate"
      [options]="mediaSorts"
      [value]="selectedSort"
      [getOptionLiteral]="getSortLiteral"
      [onChange]="setSelectedSort"
    ></mt-header-picker>
  </div>

  <div class="content reduced-bottom-padding">
    <div #content>
      <div
        *ngIf="searching || !enabled"
        class="placeholder"
        [ngClass]="{ 'with-pagination': pagination }"
      >
        <mat-spinner *ngIf="searching" mode="indeterminate"></mat-spinner>

        <button
          *ngIf="!enabled"
          mat-raised-button
          type="button"
          color="accent"
          (click)="enable()"
        >
          <fa-icon name="search baseline"></fa-icon>
          <span>{{ 'media.search.submit' | translate }}</span>
        </button>
      </div>

      <div
        *ngIf="!searching && enabled && mediaList?.length"
        class="media-cover-grid"
      >
        <mt-media-cover
          *ngFor="let media of mediaList"
          [media]="media"
        ></mt-media-cover>
      </div>

      <mt-pagination
        class="basic"
        [lazy]="true"
        [pagination]="pagination"
        (changePage)="changePage($event)"
      >
      </mt-pagination>

      <mat-card *ngIf="pagination && !pagination.total" class="info">
        <p class="bold">
          <fa-icon name="info-circle" class="margin-right-2xs"></fa-icon>
          {{ 'generic.noResults' | translate }}
        </p>
      </mat-card>

      <mat-card *ngIf="enabled && error" class="error">
        <p class="bold">
          <fa-icon name="exclamation-circle" class="margin-right-2xs"></fa-icon>
          {{ error }}
        </p>
      </mat-card>
    </div>
  </div>
</mat-card>
