<mat-form-field appearance="outline" [attr.title]="title || null">
  <fa-icon name="{{ iconName }}" iconClass="fa-fw margin-right-3xs"></fa-icon>

  <mat-select
    class="width-auto"
    panelClass="header-picker"
    [multiple]="multiple"
    [ngModel]="value"
    [placeholder]="placeholder"
    (ngModelChange)="onChange($event)"
  >
    @if (shouldTruncate()) {
      <mat-select-trigger>
        {{ getTruncatedLiteral() | translate }}
      </mat-select-trigger>
    }

    @for (option of options; track option) {
      <mat-option [value]="option">
        {{ (getOptionLiteral ? getOptionLiteral(option) : option) | translate }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
