<div class="header header-dropdown" [attr.title]="title || null">
  <fa-icon name="{{ iconName }}" iconClass="fa-fw margin-right-3xs"></fa-icon>

  <mat-select
    class="width-auto"
    [multiple]="multiple"
    [ngModel]="value"
    [placeholder]="placeholder"
    (ngModelChange)="onChange($event)"
  >
    <mat-select-trigger *ngIf="shouldTruncate()">
      {{ getTruncatedLiteral() | translate }}
    </mat-select-trigger>

    <mat-option
      *ngFor="let option of options"
      class="{{ this.compact ? 'compact' : '' }}"
      [value]="option"
    >
      {{ (getOptionLiteral ? getOptionLiteral(option) : option) | translate }}
    </mat-option>
  </mat-select>
</div>
