::ng-deep {
  mt-header-picker + mt-header-picker .header {
    padding-left: 0px !important;
  }

  .mat-select-panel .mat-option.compact {
    $height: 2.5rem;
    line-height: $height;
    height: $height;
  }
}
