<mat-form-field>
  <mat-label>{{ label | translate }}</mat-label>

  <mat-select
    [attr.aria-label]="label | translate"
    [formControl]="control"
    [multiple]="multiple"
    (openedChange)="openedChange($event)"
  >
    <input
      #filterInput
      class="mt-select-filter-input"
      placeholder="{{ 'generic.filter' | translate }}"
      [formControl]="filterControl"
      (click)="$event.stopPropagation()"
    />
    @for (option of filteredOptions; track option.value) {
      <mat-option [value]="option.value">{{
        option.label | translate
      }}</mat-option>
    }
  </mat-select>
</mat-form-field>
