@import 'variables';

.statuses-wrapper {
  display: flex;
  gap: $spacing-3xs;
  margin: (-$spacing-2xs);

  mat-checkbox {
    display: inline-block;
    vertical-align: text-bottom;
  }

  .status-wrapper {
    align-items: center;
    display: inline-flex;
  }
}

.status-table-wrapper {
  &:not(:last-of-type) {
    margin-bottom: (-$spacing-3xl);
  }
}
