@import '../../styles/variables';

:host {
  display: flex;
  align-items: center;
  overflow: visible;
}

i.fa.menu-toggle {
  $size: 24px;
  width: $size;
  margin-left: -$size;
  font-size: 16px;
  text-align: center;
  vertical-align: bottom;
}

img {
  max-width: 88px;
  height: auto;
}

@media (max-width: $screen-xxs) {
  img {
    max-width: 48px;
    height: auto;
  }
}