<i class="fa fa-bars menu-toggle clickable" [matMenuTriggerFor]="entryMenu"></i>

<img [src]="media.coverImage.medium">

<mat-menu #entryMenu="matMenu">
  <button mat-menu-item (click)="saveToList()">
    <i class="fa fa-refresh fa-1x margin-right-xxxs"></i>
    Save to list
  </button>
  <button *ngIf="listEntry" mat-menu-item (click)="deleteEntry()">
    <i class="fa fa-trash fa-1x margin-right-xxxs"></i>
    Delete from list
  </button>
  <button mat-menu-item (click)="viewOnAniList()">
    <i class="fa fa-external-link fa-1x margin-right-xxxs"></i>
    View on AniList
  </button>
</mat-menu>