.filler {
  flex: 1 1 auto;
}

.centered-content {
  left: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  pointer-events: none;
}

img.avatar {
  $max-size: 64px;
  max-width: $max-size;
  max-height: 100%;
  width: auto;
  height: auto;
}