@import '../../styles/variables';

mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: $mat-toolbar-height;
  padding: 0 $spacing-s;

  > * {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;

    &:first-child {
      justify-content: flex-start;
    }

    &:not(:first-child):not(:last-child) {
      justify-content: center;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  .centered-content {
    text-align: center;
  }

  .section-links {
    a {
      width: $spacing-xxl;
      display: inline-flex;
      flex-direction: column;
      box-sizing: border-box;
      border-top-width: 4px;
      border-top-style: solid;
      border-bottom-width: 0;
      height: 100%;
      transition: 0.2s;
      font-size: 0;
      padding: 4px 0;

      > * {
        font-size: initial;
      }

      .section-icon {
        font-size: $font-size-xxl;
        padding: 2px 0;
      }

      &.active {
        border-bottom-width: 4px;
        border-bottom-style: solid;
        pointer-events: none;
      }

      .small {
        display: block;
        font-size: $font-size-xs;
        line-height: $font-size-xs;
      }
    }
  }

  img.avatar {
    $max-size: $mat-toolbar-height;
    max-width: $max-size;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

.action-icon {
  min-width: $spacing-s;
  display: inline-block;
  text-align: center;
}
