<mat-toolbar>

  <div>
    <a *ngIf="!onRoot" [routerLink]="rootUrl">
      <i class="fa fa-chevron-left fa-1x"></i>
      <span class="hide-xs">
        Back
      </span>
    </a>
  </div>

  <div class="centered-content">
    <span class="hide-xxs">
      Anime management client
    </span>
  </div>

  <span class="filler"></span>

  <!-- logged in -->
  <span *ngIf="user" class="padding-right-xs clickable hide-s" [matMenuTriggerFor]="userMenu">
    {{ user.name }}
  </span>
  <img *ngIf="user" class="avatar clickable" [src]="user.avatar.large" [matMenuTriggerFor]="userMenu">

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="navigateToProfile()">
      View profile
    </button>
    <button mat-menu-item (click)="navigateToUserList()">
      View list
    </button>
    <button mat-menu-item (click)="logout()">
      Logout
    </button>
  </mat-menu>

  <!-- not logged in -->
  <a *ngIf="!user && loginAvailable" [href]=apiLoginUrl>
    <span class="hide-s">
      Log in with AniList
    </span>
    <i class="fa fa-sign-in fa-1x"></i>
  </a>

</mat-toolbar>