<mat-toolbar>

  <div>
    <a *ngIf="!onRoot" [routerLink]="rootUrl">
      <i class="fa fa-chevron-left fa-1x"></i>
      <span class="hide-below-s">
        Search
      </span>
    </a>
  </div>

  <div class="centered-content">
    <span class="hide-below-xxxs">
      Anime management client
    </span>
  </div>

  <span class="filler"></span>

  <!-- logged in -->
  <span *ngIf="user" class="padding-right-xs clickable hide-below-s" [matMenuTriggerFor]="userMenu">
    {{ user.name }}
  </span>
  <img *ngIf="user" class="avatar clickable hide-below-s" [src]="user.avatar.large" [matMenuTriggerFor]="userMenu">

  <a *ngIf="user" class="clickable show-below-s" [matMenuTriggerFor]="userMenu">
    <i class="fa fa-bars fa-1x"></i>
  </a>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="navigateToUserList()">
      <i class="fa fa-list fa-1x margin-right-xxxs"></i>
      View list
    </button>
    <button mat-menu-item (click)="navigateToProfile()">
      <i class="fa fa-external-link fa-1x margin-right-xxxs"></i>
      View profile
    </button>
    <button mat-menu-item (click)="logout()">
      <i class="fa fa-sign-out fa-1x margin-right-xxxs"></i>
      Log out
    </button>
  </mat-menu>

  <!-- not logged in -->
  <a *ngIf="!user && loginAvailable" [href]=apiLoginUrl>
    <span class="hide-below-s">
      Log in with AniList
    </span>
    <i class="fa fa-sign-in fa-1x"></i>
  </a>

</mat-toolbar>