<mat-toolbar>

  <div>
    <span class="hide-below-s">
      Anime management client
    </span>
  </div>

  <div class="centered-content section-links" *ngIf="user">
    <a [routerLink]="animeSearchUrl" [class.active]="onAnimeSearch">
      <i class="fa fa-search fa-2x"></i>
      <small>
        Anime search
      </small>
    </a>
    <a [routerLink]="dashboardUrl" [class.active]="onDashboard">
      <i class="fa fa-feed fa-2x"></i>
      <small>
        Dashboard
      </small>
    </a>
    <a [routerLink]="userListUrl" [class.active]="onUserList">
      <i class="fa fa-list-ul fa-2x"></i>
      <small>
        User's list
      </small>
    </a>
  </div>

  <span class="filler"></span>

  <!-- logged in -->
  <div *ngIf="user" class="flex-box center">
    <span class="padding-right-xs clickable hide-below-s" [matMenuTriggerFor]="userMenu">
      {{ user.name }}
    </span>
    <img class="avatar clickable hide-below-s" [src]="user.avatar.large" [matMenuTriggerFor]="userMenu">

    <a class="clickable show-below-s" [matMenuTriggerFor]="userMenu">
      <i class="fa fa-bars"></i>
    </a>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="navigateToAnilistProfile()">
        <i class="fa fa-external-link margin-right-xxxs"></i>
        View profile
      </button>
      <button mat-menu-item (click)="logOut()">
        <i class="fa fa-sign-out margin-right-xxxs"></i>
        Log out
      </button>
    </mat-menu>
  </div>

  <!-- not logged in -->
  <div *ngIf="!user" class="flex-box center">
    <a *ngIf="loginAvailable" [href]=apiLoginUrl>
    <span class="hide-below-s">
      Log in with AniList
    </span>
      <i class="fa fa-sign-in"></i>
    </a>
  </div>

</mat-toolbar>