@use 'sass:color';
@use 'sass:map';

@use 'mat-palettes';
@use 'palettes';
@use 'variables' as *;

:host(.float) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.pill {
  background: color.adjust(map.get(map.get(palettes.$by-name, 'blue'), 70), $saturation: -20%);

  .small-text {
    font-size: $font-size-75;
    font-weight: bolder;
  }
}
