@if (lengthText) {
  <div [class.pill]="isPill" matTooltipPosition="above">
    <span [class.bold]="progress === length">
      <span
        [class.small-text]="smallText"
        [matTooltip]="getMediaTypeProgressLiteral(media.type) | translate"
        matTooltipPosition="above"
      >
        {{ lengthText }}
      </span>
      @if (!isPill && manga?.volumes) {
        <sup [matTooltip]="'media.volumes' | translate">
          {{ manga?.volumes }}
        </sup>
      }
    </span>
  </div>
}