@use 'sass:color';
@use 'sass:map';

@use 'mat-palettes';
@use 'palettes';
@use 'variables' as *;

:host(.float) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.small-text {
  font-size: $font-size-75;
  font-weight: bolder;
}
