$border-size: 4px;

mat-header-row {
  mat-header-cell:first-child {
    margin-left: #{$border-size};
  }
}

mat-row {
  border-left: #{$border-size} solid transparent; // status

  mat-cell:first-child {
    margin-left: -#{$border-size};
  }
}
