<mat-card *ngIf="!loggedIn" class="warning">
  <h4>
    <i class="fa fa-exclamation-circle fa-1x margin-right-xxs"></i>
    You are not logged in.
    <a [href]=apiLoginUrl>Log in with AniList</a>.
  </h4>
</mat-card>

<mat-spinner *ngIf="loggedIn && !ready" mode="indeterminate" class="full-page"></mat-spinner>

<div *ngIf="loggedIn && ready && !errorGotten">

  <div class="statuses-wrapper">
    <span *ngFor="let status of statuses" class="status-wrapper">
      <a *ngIf="hasDataOfStatus(status.value)" href="{{ '/user-list#' + status.value }}" class="capitalize">
        {{ status.label }}
      </a>
    </span>
  </div>

  <div *ngFor="let status of statuses" class="status-table-wrapper">
    <div *ngIf="hasDataOfStatus(status.value)">

      <h3 [id]="status.value" class="capitalize">
        {{ status.label }}
      </h3>

      <mat-card class="no-padding">
        <app-user-list-table
          [tableStatus]="status.value"
          [tableData]="statusObjects[status.value]"
          [favouriteIDs]="favouriteIDs"
          (onEntryUpdate)="onEntryUpdate($event)">
        </app-user-list-table>
      </mat-card>

    </div>
  </div>

  <div class="padding-top-xs padding-bottom-m">
    <h3>
      Settings
    </h3>

    <mat-slide-toggle
            [checked]="reloadOnUpdate"
            (change)="reloadOnUpdate = !reloadOnUpdate">
      Reload on update
    </mat-slide-toggle>
  </div>

  <app-genres-overview
    [genreStatsList]="user.stats.favouredGenresOverview">
  </app-genres-overview>

</div>

<mat-card *ngIf="errorGotten" class="error">
  <h4>
    <i class="fa fa-exclamation-circle fa-1x margin-right-xxs"></i>
    Error 500: Internal server error
  </h4>
</mat-card>