<mat-card class="composite compact">

  <div class="header">
    <h4 class="no-margin">
      Media related to what you have watched
    </h4>
  </div>

  <mat-divider></mat-divider>

  <div class="content">
    <mat-spinner *ngIf="!ready" mode="indeterminate" class="margin-auto"></mat-spinner>

    <div *ngIf="mediaList && mediaList.length" class="cover-media-grid">
      <app-cover-media *ngFor="let media of mediaList" [media]="media"></app-cover-media>
    </div>

    <mat-card *ngIf="errorGotten" class="error">
      <h4>
        <i class="fa fa-exclamation-circle margin-right-xxs"></i>
        Error 500: Internal server error
      </h4>
    </mat-card>

  </div>

</mat-card>