<mat-card class="composite compact">
  <div class="composite-header">
    <div class="header flex-1">
      <h4 class="no-margin">
        {{ mediaType.toLowerCase() + '.dashboard.finishedAiring' | translate }}
      </h4>
    </div>

    <mt-header-picker
      *ngIf="isAnime(mediaType)"
      iconName="filter"
      title="{{ 'media.format' | translate }}"
      placeholder="{{ 'media.formatValues.undefined' | translate }}"
      [multiple]="true"
      [options]="mediaFormats"
      [truncate]="true"
      [value]="selectedFormats"
      [getOptionLiteral]="getFormatLiteral"
      [onChange]="setFormats"
    ></mt-header-picker>

    <mt-header-picker
      iconName="sort"
      title="{{ 'generic.sort' | translate }}"
      [options]="mediaSorts"
      [value]="selectedSort"
      [getOptionLiteral]="getSortLiteral"
      [onChange]="setSort"
    ></mt-header-picker>
  </div>

  <div class="content">
    <div *ngIf="searching" class="placeholder">
      <mat-spinner mode="indeterminate"></mat-spinner>
    </div>

    <mt-list-entries-grid
      wrapperClass="negative-bottom-margin"
      [listEntries]="filteredEntries"
    ></mt-list-entries-grid>
  </div>
</mat-card>
