@import 'variables';

:host {
  > .header {
    height: $modal-header-height;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    > .title {
      flex: 1;
      padding-right: $spacing-md;
    }
  }
}
