@use 'variables' as *;

:host {
  display: flex;
  align-items: center;
  overflow: visible;

  .menu-toggle {
    opacity: 0.5;
    transition: 150ms;

    &:hover {
      opacity: 1;
    }
  }

  .list-mode {
    .menu-toggle {
      font-size: $font-size-88;
    }
  }

  .action-icon {
    min-width: $spacing-xl;
    display: inline-block;
    text-align: center;
  }

  &:not(:hover) {
    .list-only {
      opacity: 0;
    }
  }
}
