<div class="container">
  <button
    *ngIf="listMode"
    class="menu-toggle list-only"
    mat-icon-button
    matTooltipPosition="left"
    [matTooltip]="
      (isUpdateAvailable()
        ? 'media.userList.updateEntry'
        : 'media.userList.addToList'
      ) | translate
    "
    (click)="$event.stopPropagation(); openEditionModal()"
  >
    <fa-icon [name]="isUpdateAvailable() ? 'pen' : 'plus'"></fa-icon>
  </button>

  <button
    class="menu-toggle"
    mat-icon-button
    matTooltipPosition="left"
    [matTooltip]="'media.view' | translate"
    [matMenuTriggerFor]="entryMenu"
    (click)="$event.stopPropagation()"
  >
    <fa-icon name="bars"></fa-icon>
  </button>

  <button
    *ngIf="listMode"
    class="menu-toggle list-only"
    mat-icon-button
    matTooltipPosition="left"
    [matTooltip]="'media.viewOnAniList' | translate"
    (click)="$event.stopPropagation(); openOnAniList()"
  >
    <fa-icon name="external-link-alt"></fa-icon>
  </button>
</div>

<mat-menu #entryMenu="matMenu">
  <div *ngIf="editEnabled">
    <mt-menu-action
      disabled="{{ !user }}"
      icon="{{ isUpdateAvailable() ? 'pen' : 'plus' }}"
      (onPress)="openEditionModal()"
    >
      {{
        (isUpdateAvailable()
          ? 'media.userList.updateEntry'
          : 'media.userList.addToList'
        ) | translate
      }}
    </mt-menu-action>

    <mt-menu-action
      icon="clock"
      disabled="{{ !user }}"
      (onPress)="setAsPlanning()"
    >
      {{ 'media.userList.setAsPlanning' | translate }}
    </mt-menu-action>
  </div>

  <div>
    <mt-menu-action
      icon="heart"
      disabled="{{ !user }}"
      (onPress)="toggleFavourite()"
    >
      {{ 'media.userList.toggleFavorite' | translate }}
    </mt-menu-action>
  </div>

  <div *ngIf="listEntry">
    <mt-menu-action
      disabled="{{ !user }}"
      icon="trash"
      (onPress)="deleteEntry()"
    >
      {{ 'media.userList.deleteFromList' | translate }}
    </mt-menu-action>
  </div>

  <mat-divider></mat-divider>

  <div *ngIf="additionalInfoEnabled">
    <mt-menu-action (onPress)="openDetailModal()" icon="id-card">
      {{ 'media.additionalInfo' | translate }}
    </mt-menu-action>
  </div>

  <div *ngIf="fullDetailEnabled">
    <mt-menu-action (onPress)="openFullDetail()" icon="id-card">
      {{ 'media.fullDetail' | translate }}
    </mt-menu-action>
  </div>

  <mt-menu-action (onPress)="openOnAniList()" icon="external-link-alt">
    {{ 'media.viewOnAniList' | translate }}
  </mt-menu-action>

  <mat-divider></mat-divider>

  <mt-menu-action (onPress)="searchImages()" icon="image">
    {{ 'media.searchImages' | translate }}
  </mt-menu-action>
</mat-menu>
