<div class="container">
  <fa-icon
    *ngIf="listMode"
    class="menu-toggle clickable list-only"
    name="{{ isUpdateAvailable() ? 'pen' : 'plus' }}"
    (click)="$event.stopPropagation(); openEditionModal()"
  ></fa-icon>

  <fa-icon
    class="menu-toggle clickable"
    name="bars"
    (click)="$event.stopPropagation()"
    [matMenuTriggerFor]="entryMenu"
  ></fa-icon>

  <fa-icon
    *ngIf="listMode"
    class="menu-toggle clickable list-only"
    name="external-link-alt"
    (click)="$event.stopPropagation(); openOnAniList()"
  ></fa-icon>
</div>

<mat-menu #entryMenu="matMenu">
  <div *ngIf="editEnabled">
    <mt-menu-action
      disabled="{{ !user }}"
      icon="{{ isUpdateAvailable() ? 'pen' : 'plus' }}"
      (onPress)="openEditionModal()"
      >{{
        (isUpdateAvailable()
          ? 'media.userList.updateEntry'
          : 'media.userList.addToList'
        ) | translate
      }}</mt-menu-action
    >

    <mt-menu-action
      icon="clock"
      disabled="{{ !user }}"
      (onPress)="setAsPlanning()"
      >{{ 'media.userList.setAsPlanning' | translate }}</mt-menu-action
    >
  </div>

  <div>
    <mt-menu-action
      (onPress)="toggleFavourite()"
      icon="star"
      disabled="{{ !user }}"
      >{{ 'media.userList.toggleFavourite' | translate }}</mt-menu-action
    >
  </div>

  <div *ngIf="listEntry">
    <mt-menu-action
      disabled="{{ !user }}"
      icon="trash"
      (onPress)="deleteEntry()"
      >{{ 'media.userList.deleteFromList' | translate }}</mt-menu-action
    >
  </div>

  <mat-divider></mat-divider>

  <div *ngIf="viewEnabled">
    <mt-menu-action (onPress)="openDetailModal()" icon="id-card">{{
      'media.additionalInfo' | translate
    }}</mt-menu-action>
  </div>

  <mt-menu-action (onPress)="openOnAniList()" icon="external-link-alt">{{
    'media.viewOnAniList' | translate
  }}</mt-menu-action>

  <mat-divider></mat-divider>

  <mt-menu-action (onPress)="searchImages()" icon="image">{{
    'media.searchImages' | translate
  }}</mt-menu-action>
</mat-menu>
