@import 'src/app/styles/variables';

:host {
  display: flex;
  align-items: center;
  overflow: visible;

  .menu-toggle {
    opacity: 0.5;
    transition: 150ms;

    &:hover {
      opacity: 1;
    }
  }

  .list-only {
    font-size: $font-size-s;
  }

  .action-icon {
    min-width: $spacing-s;
    display: inline-block;
    text-align: center;
  }

  &:not(:hover) {
    .list-only {
      opacity: 0;
    }
  }
}
