<mat-card class="composite compact">
  <div class="tab-group">
    <div class="header">
      <h4 class="no-margin">
        Finished airing
      </h4>
    </div>

    <div
      *ngFor="let tab of tabs"
      class="header tab {{ tab === activeTab ? 'active' : 'clickable' }}"
      (click)="activateTab(tab)"
    >
      <h4 class="no-margin">
        {{ tab.label }}
      </h4>
    </div>
  </div>

  <div *ngFor="let tab of tabs" [hidden]="tab !== activeTab" class="content">
    <mt-recently-finished-media-by-format [formatIn]="tab.formatIn" [formatNotIn]="tab.formatNotIn">
    </mt-recently-finished-media-by-format>
  </div>
</mat-card>
