@import "../../styles/variables";

.wide-input {
  width: 100%;
  max-width: 320px;
}

.search-filters {
  mat-form-field {
    margin-left: $spacing-xxs;
    width: 100%;
    max-width: 120px;
  }
}

.progress-placeholder {
  height: 5px;
}

mat-card {
  &:not(:first-of-type) {
    margin-top: $spacing-s;
  }
}

mat-expansion-panel:not(.mat-expanded) {
  margin-bottom: $spacing-s;
}