@import "../../styles/variables";

#searchInput {
  width: 320px;
}

.progress-placeholder {
  height: 5px;
}

mat-card {
  &:not(:first-of-type) {
    margin-top: map-get($spacings, s);
  }
}

mat-expansion-panel:not(.mat-expanded) {
  margin-bottom: map-get($spacings, s);
}