<div class="narrow-page">
  <mat-card *ngIf="!user" class="warning margin-bottom-xs">
    <h4>
      <fa-icon name="exclamation-circle" class="margin-right-xxs"></fa-icon>
      You are not logged in. Search will be available but most other features will not.
    </h4>
  </mat-card>

  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <mat-card class="text-center">
      <h1>
        <label for="searchInput">
          Anime search
        </label>
      </h1>

      <div class="form-group">
        <mat-form-field class="medium display-block margin-auto">
          <input id="searchInput" matInput placeholder="Anime title" formControlName="search" />
        </mat-form-field>
      </div>

      <!--<mat-form-field id="yearInput">-->
      <!--<input matInput [matDatepicker]="startDatePicker" placeholder="Year" disabled>-->
      <!--<mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>-->
      <!--<mat-datepicker #startDatePicker disabled="false" startView="year"></mat-datepicker>-->
      <!--</mat-form-field>-->

      <mat-expansion-panel class="mat-elevation-z padding-bottom-s search-filters">
        <mat-expansion-panel-header>
          Advanced filters
        </mat-expansion-panel-header>

        <mat-divider></mat-divider>

        <div class="vertical-padding-xs">
          <!-- air date -->
          <div class="form-group two-rows">
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Aired after year"
                formControlName="startDateGreaterThan"
                [min]="minYear"
                [max]="maxYear"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Aired before year"
                formControlName="startDateSmallerThan"
                [min]="minYear"
                [max]="maxYear"
              />
            </mat-form-field>
          </div>

          <!-- score -->
          <div class="form-group two-rows">
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Scored above"
                formControlName="averageScoreGreaterThan"
                min="0"
                max="10"
                step=".1"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Scored below"
                formControlName="averageScoreSmallerThan"
                min="0"
                max="10"
                step=".1"
              />
            </mat-form-field>
          </div>

          <!-- genre -->
          <div class="form-group two-rows">
            <mat-form-field>
              <mat-select placeholder="Genre in..." formControlName="genreIn" multiple>
                <mat-option *ngFor="let genre of mediaGenres" [value]="genre">
                  {{ genre }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Genre not in..." formControlName="genreNotIn" multiple>
                <mat-option *ngFor="let genre of mediaGenres" [value]="genre">
                  {{ genre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- format -->
          <div class="form-group two-rows">
            <mat-form-field>
              <mat-select placeholder="Format in..." #formatInput formControlName="formatIn" multiple>
                <mat-option *ngFor="let mediaFormat of mediaFormats" [value]="mediaFormat.value">
                  {{ mediaFormat.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Format not in..." #formatInput formControlName="formatNotIn" multiple>
                <mat-option *ngFor="let mediaFormat of mediaFormats" [value]="mediaFormat.value">
                  {{ mediaFormat.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- status -->
          <div class="form-group two-rows">
            <mat-form-field>
              <mat-select placeholder="Status in..." #formatInput formControlName="statusIn" multiple>
                <mat-option *ngFor="let mediaStatus of mediaStatuses" [value]="mediaStatus.value">
                  {{ mediaStatus.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Status not in..." #formatInput formControlName="statusNotIn" multiple>
                <mat-option *ngFor="let mediaStatus of mediaStatuses" [value]="mediaStatus.value">
                  {{ mediaStatus.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- on list -->
          <div class="form-group">
            <mat-form-field>
              <mat-select placeholder="On list?" formControlName="onList">
                <mat-option *ngFor="let option of onListOptions" [value]="option.value">
                  {{ option.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="text-center padding-bottom-xs">
          <button mat-raised-button type="button" (click)="clearFilters($event)">
            Clear filters
          </button>
        </div>

        <mat-divider></mat-divider>
      </mat-expansion-panel>

      <div class="text-center">
        <button mat-raised-button color="accent" [disabled]="!searchForm.valid">
          <fa-icon name="search baseline" class="margin-right-xxxs"></fa-icon>
          Search
        </button>
      </div>
    </mat-card>

    <mat-progress-bar *ngIf="searching" mode="indeterminate"></mat-progress-bar>
    <div *ngIf="!searching" class="progress-placeholder"></div>

    <mat-card *ngIf="error" class="error">
      <h4>
        <fa-icon name="exclamation-circle" class="margin-right-xxs"></fa-icon>
        {{ error }}
      </h4>
    </mat-card>

    <mat-card *ngIf="noResults" class="info">
      <h4>
        <fa-icon name="info-circle" class="margin-right-xxs"></fa-icon>
        No results found
      </h4>
    </mat-card>

    <mat-card *ngIf="animeList && animeList.length > 0" class="no-padding">
      <mt-search-results-table [tableData]="animeList" (onSortChange)="sortBy($event)"> </mt-search-results-table>

      <mat-paginator
        [length]="pagination.total"
        [pageSize]="pagination.perPage"
        [pageIndex]="pagination.pageIndex"
        [pageSizeOptions]="[5, 10, 25, 50]"
        (page)="changePage($event)"
      >
      </mat-paginator>
    </mat-card>
  </form>
</div>
