@import "../../styles/variables";

$max-input-size: 320px;

.wide-input {
  max-width: $max-input-size;
  width: 100%;
  margin: auto;
}

.search-filters {
  mat-form-field {
    margin-left: $spacing-xxs;
    width: 100%;
    max-width: 120px;
  }
}

.progress-placeholder {
  height: 5px;
}

mat-card {
  &:not(:first-of-type) {
    margin-top: $spacing-s;
  }
}

mat-expansion-panel:not(.mat-expanded) {
  margin-bottom: $spacing-s;
}

@media (max-width: #{$max-input-size + $spacing-m * 2 + 48}) {
  .mat-expansion-panel-header,
  .mat-expansion-panel-body {
    padding-left: 0;
    padding-right: 0;
  }

  .mat-expansion-panel-header {
    max-width: $max-input-size;
    width: 100%;
    margin: auto;
    box-sizing: border-box;

    .mat-expansion-indicator {
      padding-right: $spacing-xxxs;
    }
  }
}