<form [formGroup]="searchForm" (ngSubmit)="search()">

  <mat-card class="text-center">

    <h1>
      <label for="searchInput">
        Anime search
      </label>
    </h1>

    <div class="filter-group">
      <mat-form-field class="medium display-block margin-auto">
        <input id="searchInput" matInput placeholder="Anime title" formControlName="search">
      </mat-form-field>
    </div>

    <!--<mat-form-field id="yearInput">-->
      <!--<input matInput [matDatepicker]="startDatePicker" placeholder="Year" disabled>-->
      <!--<mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>-->
      <!--<mat-datepicker #startDatePicker disabled="false" startView="year"></mat-datepicker>-->
    <!--</mat-form-field>-->

    <mat-expansion-panel class="mat-elevation-z padding-bottom-s search-filters">
      <mat-expansion-panel-header>
        Advanced filters
      </mat-expansion-panel-header>

      <mat-divider></mat-divider>

      <div class="vertical-padding-xs">

        <!-- air date -->
        <div class="filter-group two-rows">
          <mat-form-field class="medium">
            <input
                id="newerThanInput"
                matInput type="number"
                placeholder="Aired after year"
                formControlName="startDate_greater"
                [min]="minYear" [max]="maxYear"
            >
          </mat-form-field>

          <mat-form-field class="medium">
            <input
                id="olderThanInput"
                matInput type="number"
                placeholder="Aired before year"
                formControlName="startDate_lesser"
                [min]="minYear" [max]="maxYear"
            >
          </mat-form-field>
        </div>

        <!-- formats -->
        <div class="filter-group">
          <mat-form-field class="large">
            <mat-select placeholder="Format" #formatInput formControlName="formats" multiple>
              <mat-option *ngFor="let mediaFormat of mediaFormats" [value]="mediaFormat.value">
                {{ mediaFormat.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- genres -->
        <div class="filter-group">
          <mat-form-field class="large">
            <mat-select placeholder="Genre" formControlName="genres" multiple>
              <mat-option *ngFor="let genre of mediaGenres" [value]="genre">
                {{ genre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <mat-divider></mat-divider>

    </mat-expansion-panel>

    <button mat-raised-button color="accent" class="display-block margin-auto" [disabled]="!searchForm.valid">
      <i class="fa fa-search fa-1x baseline margin-right-xxxs"></i>
      Search
    </button>

  </mat-card>

  <mat-progress-bar *ngIf="searching" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="!searching" class="progress-placeholder"></div>

  <mat-card *ngIf="errorGotten" class="error">
    <h4>
      <i class="fa fa-exclamation-circle fa-1x margin-right-xxs"></i>
      Error 500: Internal server error
    </h4>
  </mat-card>

  <mat-card *ngIf="noResults" class="info">
    <h4>
      <i class="fa fa-info-circle fa-1x margin-right-xxs"></i>
      No results found
    </h4>
  </mat-card>

  <mat-card *ngIf="animeList && animeList.length > 0" class="no-padding">
    <app-search-results-table [tableData]="animeList"></app-search-results-table>

    <mat-paginator
      [length]="pagination.total"
      [pageSize]="pagination.perPage"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="changePage($event)">
    </mat-paginator>
  </mat-card>

</form>