<h2 class="text-115 bold margin-top-md">
  {{ mediaType.toLowerCase() + '.statusValues.' + tableStatus | translate }}
</h2>

<mat-card>
  <mat-table
    #table
    [dataSource]="dataSource"
    [hidden]="!dataSource?.data?.length"
    matSort
    class="media-table"
  >
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <mt-media-actions [listEntry]="entry" [media]="entry.media">
        </mt-media-actions>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cover-image">
      <mat-header-cell *matHeaderCellDef>
        {{ 'media.cover' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <img
          [src]="getSizedCoverImage(entry.media.coverImage)"
          alt="Cover image for {{ getMediaTitle(entry.media) }}"
          class="cover"
        />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title-romaji">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="justify-start"
        >{{ 'media.title' | translate }}</mat-header-cell
      >
      <mat-cell *matCellDef="let entry" class="justify-start">
        <span class="text">
          <span>{{ getMediaTitle(entry.media) }}</span>
          @if (favouriteIDs?.includes(entry.media.id)) {
            <span>
              {{ ' ' }}<fa-icon name="heart" class="favourite"></fa-icon>
            </span>
          }
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="format">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'media.format' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <span class="text nowrap">
          {{ 'media.formatValues.' + entry.media.format | translate }}

          <mt-media-country [media]="entry.media"></mt-media-country>
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="start-date">
      <mat-header-cell *matHeaderCellDef mat-sort-header start="desc">
        {{ 'media.year' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <span class="text">{{ getFormattedMediaYearRange(entry.media) }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="genres">
      <mat-header-cell *matHeaderCellDef>
        {{ 'media.genres' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <mat-list role="list" class="no-padding">
          @for (genre of entry.media.genres; track genre) {
            <mat-list-item role="listitem">
              <mt-chip class="rounded">{{ genre }}</mt-chip>
            </mat-list-item>
          }
        </mat-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef mat-sort-header start="desc">
        {{ 'media.score' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <span
          class="text"
          matTooltipPosition="above"
          [matTooltip]="'media.scoreTooltip' | translate"
        >
          {{ entry.scoreRaw / 10 }}
        </span>
      </mat-cell>
    </ng-container>

    <ng-container
      matColumnDef="{{ isAnime(mediaType) ? 'episodes' : 'chapters' }}"
    >
      <mat-header-cell *matHeaderCellDef mat-sort-header start="desc">
        {{ getMediaTypeProgressLiteral(mediaType) | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <span class="text">{{ getMediaProgress(entry.media) }}</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableRows"></mat-header-row>
    <mat-row
      *matRowDef="let entry; columns: tableRows"
      (click)="openDetailModal(entry.media)"
    ></mat-row>
  </mat-table>

  <mat-paginator
    #paginator
    [pageSize]="10"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="true"
    (page)="onPageChange()"
  >
  </mat-paginator>
</mat-card>
