<fa-icon
  class="menu-toggle clickable"
  name="bars"
  [matMenuTriggerFor]="entryMenu"
></fa-icon>

<mat-menu #entryMenu="matMenu">
  <div *ngIf="editEnabled">
    <mt-menu-action
      disabled="{{ !user }}"
      icon="{{ isUpdateAvailable() ? 'pen' : 'plus' }}"
      (onPress)="openEditionModal()"
      >{{
        (isUpdateAvailable()
          ? 'anime.userList.updateEntry'
          : 'anime.userList.addToList'
        ) | translate
      }}</mt-menu-action
    >

    <mt-menu-action
      icon="clock"
      disabled="{{ !user }}"
      (onPress)="setAsPlanning()"
      >{{ 'anime.userList.setAsPlanning' | translate }}</mt-menu-action
    >

    <mat-divider></mat-divider>
  </div>

  <div>
    <mt-menu-action
      (onPress)="toggleFavourite()"
      icon="star"
      disabled="{{ !user }}"
      >{{ 'anime.userList.toggleFavourite' | translate }}</mt-menu-action
    >
  </div>

  <div *ngIf="listEntry">
    <mt-menu-action
      disabled="{{ !user }}"
      icon="trash"
      (onPress)="deleteEntry()"
      >{{ 'anime.userList.deleteFromList' | translate }}</mt-menu-action
    >
  </div>

  <mat-divider></mat-divider>

  <div *ngIf="viewEnabled">
    <mt-menu-action (onPress)="openDetailModal()" icon="id-card">{{
      'media.additionalInfo' | translate
    }}</mt-menu-action>
  </div>

  <mt-menu-action (onPress)="openOnAniList()" icon="external-link-alt">{{
    'media.viewOnAniList' | translate
  }}</mt-menu-action>
</mat-menu>
