<fa-icon name="bars" class="menu-toggle clickable" [matMenuTriggerFor]="entryMenu"></fa-icon>

<mat-menu #entryMenu="matMenu">
  <mt-menu-action
    (onPress)="doOpenEditionModal()"
    disabled="{{ !user }}"
    icon="{{ isUpdateAvailable() ? 'pen' : 'plus' }}"
    >{{ (isUpdateAvailable() ? 'anime.userList.updateEntry' : 'anime.userList.addToList') | translate }}</mt-menu-action
  >

  <div *ngIf="isUpdateAvailable()">
    <mt-menu-action (onPress)="doToggleFavourite()" icon="star">{{
      'anime.userList.toggleFavourite' | translate
    }}</mt-menu-action>
  </div>

  <div *ngIf="isUpdateAvailable()">
    <mt-menu-action (onPress)="doDeleteEntry()" icon="trash">{{
      'anime.userList.deleteFromList' | translate
    }}</mt-menu-action>
  </div>

  <div *ngIf="media && source !== 'view'">
    <mt-menu-action (onPress)="doOpenDetailModal()" icon="id-card">{{
      'media.additionalInfo' | translate
    }}</mt-menu-action>
  </div>

  <mt-menu-action (onPress)="doOpenOnAniList()" icon="external-link-alt">{{
    'media.viewOnAniList' | translate
  }}</mt-menu-action>
</mat-menu>
