<fa-icon name="bars" class="menu-toggle clickable" [matMenuTriggerFor]="entryMenu"></fa-icon>

<mat-menu #entryMenu="matMenu">
  <mt-menu-action (onPress)="saveToList()" disabled="{{ !user }}" icon="{{ isUpdateAvailable() ? 'pen' : 'plus' }}">
    {{ (isUpdateAvailable() ? 'anime.userList.updateEntry' : 'anime.userList.addToList') | translate }}
  </mt-menu-action>

  <div *ngIf="isUpdateAvailable()">
    <mt-menu-action (onPress)="toggleFavourite()" icon="star">
      {{ 'anime.userList.toggleFavourite' | translate }}
    </mt-menu-action>
  </div>

  <div *ngIf="isUpdateAvailable()">
    <mt-menu-action (onPress)="deleteEntry()" icon="trash">
      {{ 'anime.userList.deleteFromList' | translate }}
    </mt-menu-action>
  </div>

  <div *ngIf="media && !fromModal">
    <mt-menu-action (onPress)="showDetail()" icon="id-card">
      {{ 'media.additionalInfo' | translate }}
    </mt-menu-action>
  </div>

  <mt-menu-action (onPress)="viewOnAniList()" icon="external-link-alt">
    {{ 'media.viewOnAniList' | translate }}
  </mt-menu-action>
</mat-menu>
