<mat-card class="composite compact">
  <div class="header">
    <h4 class="no-margin">
      Media related to what you have watched
    </h4>
  </div>

  <mat-divider></mat-divider>

  <div class="content">
    <mat-spinner *ngIf="!ready" mode="indeterminate" class="margin-auto"></mat-spinner>

    <div *ngIf="mediaList?.length" class="media-cover-grid">
      <mt-media-cover *ngFor="let media of mediaList" [media]="media"></mt-media-cover>
    </div>

    <mat-card *ngIf="error" class="error">
      <h4>
        <fa-icon name="exclamation-circle" class="margin-right-xxs"></fa-icon>
        {{ error }}
      </h4>
    </mat-card>
  </div>
</mat-card>
