<mt-modal>
  <mt-modal-header (onClosePressed)="dismiss()" titleClass="overflow-hidden">
    <div class="flex-box center">
      @if (media) {
        <mt-media-actions
          [editEnabled]="origin !== 'edit'"
          [listMode]="false"
          [media]="media"
          [origin]="origin"
          [additionalInfoEnabled]="false"
          (onListEntryChanges)="onListEntryChanges($event)"
          class="left-action inline-block margin-right-2xs"
        >
        </mt-media-actions>
      }

      <span class="text-ellipsis" [matTooltip]="getMediaTitle(media)">
        {{ getMediaTitle(media) }}
      </span>
    </div>
  </mt-modal-header>

  <mt-modal-content>
    @if (media) {
      <mt-media-info
        [fullDetail]="false"
        [media]="media"
        [showAsColumns]="true"
      >
      </mt-media-info>
    }
  </mt-modal-content>

  <mt-modal-footer>
    <div class="buttons-container">
      @if (media.mediaListEntry && origin !== 'edit') {
        <div>
          <button mat-raised-button type="button" (click)="openEditionModal()">
            <fa-icon name="pen"></fa-icon>
            <span>{{ 'media.userList.updateEntry' | translate }}</span>
          </button>
        </div>
      }
      @if (!media.mediaListEntry) {
        <div>
          <button mat-raised-button type="button" (click)="setAsPlanning()">
            <fa-icon name="clock"></fa-icon>
            <span>{{ 'media.userList.setAsPlanning' | translate }}</span>
          </button>
        </div>
      }
    </div>
  </mt-modal-footer>
</mt-modal>
