<mt-modal>
  <mt-modal-header (onClosePressed)="dismiss()" titleClass="overflow-hidden">
    <div title="{{ media.title.romaji }}" class="text-ellipsis">
      <mt-media-actions
        *ngIf="media"
        [editEnabled]="origin !== 'edit'"
        [listMode]="false"
        [media]="media"
        [origin]="origin"
        [additionalInfoEnabled]="false"
        (onListEntryChanges)="onListEntryChanges($event)"
        class="inline-block margin-right-2xs"
      >
      </mt-media-actions
      >{{ media.title.romaji }}
    </div>
  </mt-modal-header>

  <mt-modal-content>
    <mt-media-info
      *ngIf="media"
      [fullDetail]="false"
      [media]="media"
      [showAsColumns]="true"
    >
    </mt-media-info>
  </mt-modal-content>

  <mt-modal-footer>
    <div class="buttons-container">
      <!-- <button type="button" (click)="navigateToDetail()" mat-raised-button>
          <fa-icon name="newspaper"></fa-icon>
          <span>{{ 'media.goToDetail' | translate }}</span>
        </button> -->

      <div *ngIf="media.mediaListEntry && origin !== 'edit'">
        <button type="button" (click)="openEditionModal()" mat-raised-button>
          <fa-icon name="pen"></fa-icon>
          <span>{{ 'media.userList.updateEntry' | translate }}</span>
        </button>
      </div>

      <div *ngIf="!media.mediaListEntry">
        <button type="button" (click)="setAsPlanning()" mat-raised-button>
          <fa-icon name="clock"></fa-icon>
          <span>{{ 'media.userList.setAsPlanning' | translate }}</span>
        </button>
      </div>
    </div>
  </mt-modal-footer>
</mt-modal>
