<mt-modal>
  <mt-modal-header (onClosePressed)="dismiss()">
    {{ listEntry.media.title.romaji }}
  </mt-modal-header>

  <form [formGroup]="listEntryForm" (ngSubmit)="saveEntry()">
    <mt-modal-content>
      <!-- status -->
      <div class="form-group">
        <mat-form-field>
          <mat-select placeholder="{{ 'media.status' | translate }}" formControlName="status">
            <mat-option *ngFor="let status of listEntryStatusList" [value]="status">
              {{ 'anime.statusValues.' + status | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- score -->
      <div class="form-group">
        <mat-form-field class="score-input">
          <mat-label>{{ 'media.score' | translate }}</mat-label>
          <input
            matInput
            type="number"
            min="0"
            max="10"
            step=".1"
            [placeholder]="listEntry ? listEntry.scoreRaw / 10 : 5"
            formControlName="score"
          />
        </mat-form-field>
        / 10
      </div>

      <!--<mat-slider min="0" max="10" value="5" step="0.5" tickInterval="2" class="full-width no-padding"></mat-slider>-->

      <!--<span *ngIf="listEntry !== undefined">-->
      <!--<button mat-raised-button color="warn" class="margin-right-s square-button" (click)="doDeleteEntry($event)">-->
      <!--<fa-icon name="trash" class="baseline"></fa-icon>-->
      <!--</button>-->
      <!--</span>-->
    </mt-modal-content>

    <mat-divider></mat-divider>

    <mt-modal-footer>
      <span class="float-right">
        <button
          mat-raised-button
          color="accent"
          class="margin-right-xs"
          [disabled]="!listEntryForm.valid || !isSubmitAvailable()"
        >
          <fa-icon name="save" class="baseline margin-right-xxxs"></fa-icon>
          {{ 'generic.submit' | translate }}
        </button>

        <button mat-raised-button class="float-right" (click)="dismiss($event)">
          <fa-icon name="times" class="baseline margin-right-xxxs"></fa-icon>
          {{ 'generic.cancel' | translate }}
        </button>
      </span>
    </mt-modal-footer>
  </form>
</mt-modal>
