<mt-modal>
  <mt-modal-header (onClosePressed)="dismiss()" titleClass="overflow-hidden">
    <div title="{{ listEntry.media.title.romaji }}" class="text-ellipsis">
      <mt-media-actions
        [origin]="origin"
        [media]="listEntry.media"
        [viewEnabled]="origin !== 'view'"
        [editEnabled]="false"
        class="inline-block margin-right-xxs"
      >
      </mt-media-actions
      >{{ listEntry.media.title.romaji }}
    </div>
  </mt-modal-header>

  <form [formGroup]="listEntryForm" (ngSubmit)="saveEntry()">
    <mt-modal-content>
      <!-- status -->
      <div class="form-group">
        <mat-form-field>
          <mat-select placeholder="{{ 'media.status' | translate }}" formControlName="status">
            <mat-option *ngFor="let status of listEntryStatuses" [value]="status">{{
              'anime.statusValues.' + status | translate
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="score-input">
          <mat-label>{{ 'media.score' | translate }}</mat-label>
          <input
            matInput
            type="text"
            [pattern]="scorePattern"
            [placeholder]="!listEntry && 5"
            formControlName="score"
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="times-repeated-input">
          <mat-label>{{ 'media.timesRepeated' | translate }}</mat-label>
          <input
            matInput
            type="text"
            [pattern]="scorePattern"
            [placeholder]="!listEntry && 0"
            formControlName="repeat"
          />
        </mat-form-field>
      </div>

      <!--<mat-slider min="0" max="10" value="5" step="0.5" tickInterval="2" class="full-width no-padding"></mat-slider>-->

      <!--<span *ngIf="listEntry !== undefined">-->
      <!--<button mat-raised-button color="warn" class="margin-right-s square-button" (click)="doDeleteEntry($event)">-->
      <!--<fa-icon name="trash" class="baseline"></fa-icon>-->
      <!--</button>-->
      <!--</span>-->
    </mt-modal-content>

    <mat-divider></mat-divider>

    <mt-modal-footer>
      <span class="float-right">
        <button
          mat-raised-button
          color="accent"
          class="margin-right-xs"
          [disabled]="!listEntryForm.valid || !isSubmitAvailable()"
        >
          <fa-icon name="save" class="baseline margin-right-xxxs"></fa-icon>
          {{ 'generic.submit' | translate }}
        </button>

        <button mat-raised-button class="float-right" (click)="dismiss($event)">
          <fa-icon name="times" class="baseline margin-right-xxxs"></fa-icon>
          {{ 'generic.cancel' | translate }}
        </button>
      </span>
    </mt-modal-footer>
  </form>
</mt-modal>
