@import 'src/app/styles/variables';

.content {
  .form-group {
    //max-width: $max-input-size / 2;
    margin: auto;
  }

  mat-form-field {
    width: 100%;

    &.score-input {
      width: 72px;
    }
  }
}
