@import 'src/app/styles/variables';

mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: $mat-toolbar-height;
  padding: 0 $spacing-xl;

  > * {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;

    &:first-child {
      justify-content: flex-start;
    }

    &:not(:first-child):not(:last-child) {
      justify-content: center;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  .centered-content {
    text-align: center;
  }

  .section-links {
    > * {
      &,
      & a {
        height: 100%;
      }
    }

    a {
      margin: 0 $spacing-3xs;
      min-width: $spacing-5xl;
      padding: $spacing-4xs 0 $spacing-6xs;
      transition: $transition-duration;
      border-bottom: $spacing-6xs solid transparent;
      border-top: $spacing-4xs solid transparent;
      align-items: center;
      box-sizing: border-box;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around;

      .icons-container {
        display: inline-flex;
        gap: 0.5em;
        line-height: 1;

        .section-icon {
          font-size: $font-size-125;
        }
      }

      &.active {
        pointer-events: none;
        border-bottom-color: inherit;
      }

      small {
        font-size: $font-size-75;
        line-height: 1;
      }
    }
  }

  img.avatar {
    $max-size: $mat-toolbar-height;
    max-width: $max-size;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

.action-icon {
  min-width: $spacing-xl;
  display: inline-block;
  text-align: center;
}
