<mat-toolbar>
  <div>
    <span
      class="hide-below-s"
      title="Unofficial Angular Material Anilist Client"
      >{{ 'app.title' | translate }}</span
    >
  </div>

  <div class="centered-content section-links" *ngIf="user">
    <a
      *ngFor="let route of routes"
      [routerLink]="route.path"
      [class.active]="onPage(route.path)"
    >
      <fa-icon [name]="route.icon" class="section-icon"></fa-icon>
      <span class="small">{{ route.literal | translate }}</span>
    </a>
  </div>

  <!-- logged in -->
  <div *ngIf="user" class="flex-box center">
    <span
      class="padding-right-xs clickable hide-below-s"
      [matMenuTriggerFor]="userMenu"
      >{{ user.name }}</span
    >
    <img
      class="avatar clickable hide-below-s"
      [matMenuTriggerFor]="userMenu"
      [src]="user.avatar.large"
    />

    <a class="clickable show-below-s" [matMenuTriggerFor]="userMenu">
      <fa-icon name="bars"></fa-icon>
    </a>

    <mat-menu #userMenu="matMenu">
      <mt-menu-action
        icon="external-link-alt"
        (onPress)="openAnilistProfile()"
        >{{ 'user.viewProfile' | translate }}</mt-menu-action
      >

      <mt-menu-action (onPress)="logOut()" icon="door-open">{{
        'user.logOut' | translate
      }}</mt-menu-action>
    </mat-menu>
  </div>

  <!-- not logged in -->
  <div *ngIf="!user" class="flex-box center">
    <a *ngIf="loginAvailable" [href]="apiLoginUrl">
      <span class="hide-below-s">{{ 'user.logIn' | translate }}{{ ' ' }}</span>
      <fa-icon name="sign-in-alt"></fa-icon>
    </a>
  </div>
</mat-toolbar>
