<mat-toolbar>
  <div>
    <span class="hide-below-s" title="Unofficial Angular Material Anilist Client">
      Unofficial Anilist Client
    </span>
  </div>

  <div class="centered-content section-links" *ngIf="user">
    <a [routerLink]="animeSearchUrl" [class.active]="onAnimeSearch">
      <fa-icon name="search" class="section-icon"></fa-icon>
      <span class="small">
        Anime search
      </span>
    </a>
    <a [routerLink]="dashboardUrl" [class.active]="onDashboard">
      <fa-icon name="columns" class="section-icon"></fa-icon>
      <span class="small">
        Dashboard
      </span>
    </a>
    <a [routerLink]="userListUrl" [class.active]="onUserList">
      <fa-icon name="th-list" class="section-icon"></fa-icon>
      <span class="small">
        User's list
      </span>
    </a>
  </div>

  <!-- logged in -->
  <div *ngIf="user" class="flex-box center">
    <span class="padding-right-xs clickable hide-below-s" [matMenuTriggerFor]="userMenu">
      {{ user.name }}
    </span>
    <img class="avatar clickable hide-below-s" [src]="user.avatar.large" [matMenuTriggerFor]="userMenu" />

    <a class="clickable show-below-s" [matMenuTriggerFor]="userMenu">
      <fa-icon name="bars"></fa-icon>
    </a>

    <mat-menu #userMenu="matMenu">
      <mt-menu-action (onPress)="navigateToAnilistProfile()" icon="external-link-alt">
        View profile
      </mt-menu-action>

      <mt-menu-action (onPress)="logOut()" icon="door-open">
        Log out
      </mt-menu-action>
    </mat-menu>
  </div>

  <!-- not logged in -->
  <div *ngIf="!user" class="flex-box center">
    <a *ngIf="loginAvailable" [href]="apiLoginUrl">
      <span class="hide-below-s">
        Log in with AniList
      </span>
      <fa-icon name="sign-in-alt"></fa-icon>
    </a>
  </div>
</mat-toolbar>
