<mat-toolbar>
  <div>
    <h1 class="hide-below-md">{{ 'app.title' | translate }}</h1>
  </div>

  <nav class="centered-content section-links">
    @for (route of routes; track route) {
      <div
        class="border-box"
        role="list"
        [ngClass]="{
          'padding-vertical-xs': !route,
          'padding-horizontal-2xs': !route,
        }"
      >
        @if (route && route?.enabled !== false) {
          @if (route.path) {
            <a
              role="listitem"
              class="secondary list-item"
              [ngClass]="route.class"
              [routerLink]="route.path"
              [class.active]="onPage(route.path)"
            >
              <span class="icons-container">
                @if (route.icon) {
                  <mt-icon [name]="route.icon" class="section-icon"></mt-icon>
                }
              </span>
              <small>{{ route.literal | translate }}</small>
            </a>
          } @else {
            <div role="listitem" class="list-item" [ngClass]="route.class">
              <span class="icons-container">
                @if (route.icon) {
                  <mt-icon [name]="route.icon" class="section-icon"></mt-icon>
                }
              </span>
              <span>{{ route.literal | translate }}</span>
            </div>
          }
        }
        @if (!route) {
          <span class="vr"></span>
        }
      </div>
    }
  </nav>

  <!-- logged in -->
  @if (user) {
    <div class="flex-box center">
      <span
        class="padding-right-xs clickable hide-below-md"
        [matMenuTriggerFor]="userMenu"
        >{{ user.name }}</span
      >
      <img
        alt="User avatar"
        class="avatar clickable hide-below-md"
        [matMenuTriggerFor]="userMenu"
        [src]="user.avatar.large"
      />
      <a
        class="clickable show-below-md"
        [matMenuTriggerFor]="userMenu"
        [matTooltip]="'media.menu' | translate"
      >
        <mt-icon name="bars"></mt-icon>
      </a>
      <mat-menu #userMenu="matMenu">
        <mt-menu-button
          icon="external-link-alt"
          (onPress)="openAnilistProfile()"
          >{{ 'user.viewProfile' | translate }}</mt-menu-button
        >
        <mt-menu-button (onPress)="logOut()" icon="door-open">
          {{ 'user.logOut' | translate }}
        </mt-menu-button>
      </mat-menu>
    </div>
  }

  <!-- not logged in -->
  @if (!user) {
    <div class="flex-box center">
      @if (loginAvailable) {
        <a [href]="apiLoginUrl">
          <span class="hide-below-sm"
            >{{ 'user.logIn' | translate }}{{ ' ' }}</span
          >
          <mt-icon name="sign-in-alt"></mt-icon>
        </a>
      }
    </div>
  }
</mat-toolbar>
