@use 'sass:map';

@use 'mat-palettes';
@use 'variables' as *;

mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: $mat-toolbar-height;
  padding: 0 $spacing-xl;

  > * {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;

    &:first-child {
      justify-content: flex-start;
    }

    &:not(:first-child):not(:last-child) {
      justify-content: center;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  .centered-content {
    text-align: center;
  }

  .section-links {
    gap: $spacing-3xs;

    > * {
      &,
      & .list-item {
        height: 100%;
      }
    }

    .list-item {
      align-items: center;
      border-bottom: $spacing-6xs solid transparent;
      border-top: $spacing-4xs solid transparent;
      box-sizing: border-box;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around;
      min-width: 2.75rem;
      padding: $spacing-4xs $spacing-6xs $spacing-6xs;

      &.inline {
        flex-direction: row;
        gap: $spacing-3xs;
        padding: $spacing-3xs;

        &.reverse {
          flex-direction: row-reverse;
        }
      }

      &:not([href]) {
        color: map.get(mat-palettes.$grey, 50);
      }

      small {
        font-size: $font-size-75;
        font-weight: bold;
        line-height: 1;
      }
    }

    a {
      transition: $transition-duration;

      &:not(.active):not(:hover) {
        color: map.get(mat-palettes.$grey, 50);
      }

      &.active {
        border-bottom-color: inherit;
        pointer-events: none;
      }

      .icons-container {
        gap: $spacing-3xs;
        display: inline-flex;

        .section-icon {
          font-size: $font-size-125;
          line-height: 1;
        }
      }
    }

    .vr {
      border-color: map.get(mat-palettes.$grey, 30);
    }
  }

  img.avatar {
    $max-size: $mat-toolbar-height;
    max-width: $max-size;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

.action-icon {
  min-width: $spacing-xl;
  display: inline-block;
  text-align: center;
}
