@use 'sass:map';

@import 'colors';
@import 'variables';

mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: $mat-toolbar-height;
  padding: 0 $spacing-xl;

  > * {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;

    &:first-child {
      justify-content: flex-start;
    }

    &:not(:first-child):not(:last-child) {
      justify-content: center;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  .centered-content {
    text-align: center;
  }

  .section-links {
    > * {
      &,
      & a {
        height: 100%;
      }
    }

    a {
      align-items: center;
      border-bottom: $spacing-6xs solid transparent;
      border-top: $spacing-4xs solid transparent;
      box-sizing: border-box;
      display: inline-flex;
      flex-direction: column;
      font-weight: bold;
      justify-content: space-around;
      margin: 0 $spacing-3xs;
      padding: $spacing-4xs $spacing-4xs $spacing-6xs;
      transition: $transition-duration;

      &:not(.active):not(:hover) {
        color: map.get($grey-palette, 40);
      }

      &.active {
        border-bottom-color: inherit;
        pointer-events: none;
      }

      .icons-container {
        gap: $spacing-3xs;
        display: inline-flex;

        .section-icon {
          font-size: $font-size-125;
          line-height: 1;
        }
      }

      small {
        font-size: $font-size-75;
        line-height: 1;
      }
    }
  }

  img.avatar {
    $max-size: $mat-toolbar-height;
    max-width: $max-size;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

.action-icon {
  min-width: $spacing-xl;
  display: inline-block;
  text-align: center;
}
