@use '~@angular/material' as mat;
@import 'src/app/styles/variables';

.cover {
  $width: 100px;
  $height: 138px;
  width: $width;
  height: $height;
  background-position: center center;
  background-size: cover;
  position: relative;

  &:hover {
    .backdrop {
      opacity: 1;
    }
  }
  &:not(:hover) {
    .backdrop {
      opacity: 0;
    }
  }

  .backdrop {
    font-size: $font-size-xs;
    padding: $spacing-xxxs;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition: $transition-duration;

    display: flex;
    align-items: center;
    text-align: center;

    background: rgba(black, 2/3);
    color: white;

    .clickable {
      transition: $transition-duration;

      &:hover {
        color: map-get(mat.$orange-palette, 500);
      }
    }
  }

  .status-badge {
    $size: 6px;
    border-radius: 2px;
    box-shadow: 0 0 2px black;
    display: block;
    height: $size;
    margin: 3px;
    position: absolute;
    top: 0;
    width: $size;

    &.completed {
      background: map-get(mat.$green-palette, 500);
    }
    &.repeating {
      background: map-get(mat.$blue-palette, 500);
    }
    &.planning,
    &.watching {
      background: map-get(mat.$orange-palette, 500);
    }
    &.paused {
      background: map-get(mat.$pink-palette, 300);
    }
    &.dropped {
      background: map-get(mat.$red-palette, 500);
    }
  }

  .cover-actions-container {
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    width: 100%;

    .cover-action {
      text-shadow: 0 0 2px black;
      display: block;
      margin: 4px 0;
      font-size: 16px;
    }
  }
}
