@import '../../../../styles/variables';

.columns-wrapper {
  font-size: 0;

  > * {
    font-size: initial;
  }

  .column {
    $sidebar-width: 542px;
    $padding: $spacing-4xs * 1.5;
    padding: 0 $padding;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;

    &.left-column {
      padding-left: 0;
      width: $sidebar-width;
    }

    &.center-column {
      width: calc(100% - #{$sidebar-width * 2});
    }

    &.right-column {
      padding-right: 0;
      width: $sidebar-width;
    }

    &.full-column {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }

    @media (max-width: $screen-xl) {
      padding: $padding 0;
      width: 100% !important;

      & {
        float: none;
      }
    }
  }
}
