<div class="columns-wrapper">
  <div
    class="column left-column"
    *ngIf="showLeftColumn"
    [ngClass]="{ 'full-column': !showCenterColumn && !showRightColumn }"
  >
    <mt-recently-updated-list-entries
      [mediaType]="mediaType"
    ></mt-recently-updated-list-entries>
  </div>

  <div
    class="column center-column"
    *ngIf="showCenterColumn"
    [ngClass]="{ 'full-column': !showLeftColumn && !showRightColumn }"
  >
    <mt-list-related-media [mediaType]="mediaType"></mt-list-related-media>
  </div>

  <div
    class="column right-column"
    *ngIf="showRightColumn"
    [ngClass]="{ 'full-column': !showLeftColumn && !showCenterColumn }"
  >
    <mt-recently-finished-media
      [mediaType]="mediaType"
    ></mt-recently-finished-media>
  </div>
</div>
