<div *ngIf="media" [class.general-info-only]="generalInfoOnly">
  <div [class.row]="showAsColumns">
    <!-- left column -->
    <div class="column left">
      <img
        [src]="media.coverImage?.large"
        alt="Cover image for {{ getMediaTitle(media) }}"
        class="cover"
      />

      <div *ngIf="media.description?.trim()">
        <div class="margin-bottom-2xs">
          <strong>
            {{ 'media.description' | translate }}
          </strong>
        </div>

        <div
          class="margin-bottom-2xs"
          [innerHTML]="sanitizeDescription()"
        ></div>
      </div>
    </div>

    <!-- right column -->
    <div class="column right border">
      <div *ngIf="media.format" class="property-value-pair flex-box">
        <div class="property">{{ 'media.format' | translate }}</div>

        <div class="value">
          {{ 'media.formatValues.' + media.format | translate }}

          <sup
            *ngIf="media.countryOfOrigin && media.countryOfOrigin !== 'JP'"
            [matTooltip]="'media.countryOfOrigin' | translate"
          >
            {{ media.countryOfOrigin }}
          </sup>
        </div>
      </div>

      <div *ngIf="getMediaProgress(media)" class="property-value-pair flex-box">
        <div class="property">
          {{ getMediaTypeProgressLiteral(media.type) | translate }}
        </div>

        <div class="value">
          {{ getMediaProgress(media) }}

          <sup *ngIf="media.volumes" [matTooltip]="'media.volumes' | translate">
            {{ media.volumes }}
          </sup>
        </div>
      </div>

      <div *ngIf="media.duration" class="property-value-pair flex-box">
        <div class="property">{{ 'media.duration' | translate }}</div>

        <div class="value">
          {{ getFormattedAnimeDuration(media) }}
        </div>
      </div>

      <div *ngIf="media.source" class="property-value-pair flex-box">
        <div class="property">{{ 'media.source' | translate }}</div>

        <div class="value">
          {{ getSourceLiteral(media.source) | translate }}
        </div>
      </div>

      <div *ngIf="media.startDate.year" class="property-value-pair flex-box">
        <div class="property">{{ 'media.startDate' | translate }}</div>

        <div class="value">
          {{ getFormattedFuzzyDate(media.startDate) }}
        </div>
      </div>

      <div *ngIf="media.endDate.year" class="property-value-pair flex-box">
        <div class="property">{{ 'media.endDate' | translate }}</div>

        <div class="value">
          {{ getFormattedFuzzyDate(media.endDate) }}
        </div>
      </div>

      <div
        *ngIf="generalInfoOnly && media.format?.length"
        class="property-value-pair flex-box"
      >
        <div class="property">{{ 'media.format' | translate }}</div>

        <div class="value">
          {{ 'media.formatValues.' + media.format | translate }}
        </div>
      </div>

      <div *ngIf="media.status?.length" class="property-value-pair flex-box">
        <div class="property">{{ 'media.status' | translate }}</div>

        <div class="value">
          {{ 'media.statusValues.' + media.status | translate }}
        </div>
      </div>

      <div
        *ngIf="media.studios?.nodes?.length"
        class="property-value-pair flex-box"
      >
        <div class="property">{{ 'media.studio' | translate }}</div>

        <div
          class="value text-ellipsis"
          [matTooltip]="media.studios.nodes[0].name"
        >
          {{ media.studios.nodes[0].name }}
        </div>
      </div>

      <div
        *ngIf="media.staff?.edges?.length"
        class="property-value-pair flex-box"
      >
        <div class="property">{{ 'media.staff' | translate }}</div>

        <div class="value text-ellipsis">
          <ng-container *ngFor="let staff of media.staff.edges">
            <ng-container *ngIf="staffRoles.includes(staff.role)">
              <div [matTooltip]="staff.role">
                {{ staff.node.name.full }}
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div *ngIf="media.averageScore" class="property-value-pair flex-box">
        <div class="property" [matTooltip]="'media.scoreTooltip' | translate">
          {{ 'media.score' | translate }}
        </div>

        <div class="value">
          <mt-media-score [media]="media"></mt-media-score>
        </div>
      </div>
    </div>
  </div>

  <!-- lower columns -->
  <div
    *ngIf="media.genres?.length"
    class="property-value-pair chips flex-box no-margin-bottom"
  >
    <div class="property padded">{{ 'media.genres' | translate }}</div>

    <div role="list" class="value wrap-balance">
      <ng-container *ngFor="let genre of media.genres">
        <mt-chip class="rounded">{{ genre }}</mt-chip>
      </ng-container>
    </div>
  </div>

  <div
    *ngIf="media.tags?.length"
    class="property-value-pair chips flex-box no-margin-bottom"
  >
    <div class="property padded">{{ 'media.tags' | translate }}</div>

    <div role="list" class="value wrap-balance">
      <ng-container *ngFor="let tag of media.tags">
        <ng-container *ngIf="!tag.isMediaSpoiler">
          <mt-chip [matTooltip]="tag.description">{{ tag.name }}</mt-chip>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div
    *ngIf="media.synonyms?.length"
    class="property-value-pair chips flex-box no-margin-bottom"
  >
    <div class="property padded">{{ 'media.synonyms' | translate }}</div>

    <div role="list" class="value wrap-balance">
      <mt-chip role="listitem" *ngIf="media.countryOfOrigin === 'JP'">
        {{ media.title.english }}
      </mt-chip>

      <mt-chip role="listitem" *ngIf="media.countryOfOrigin !== 'JP'">
        {{ media.title.romaji }}
      </mt-chip>

      <mt-chip role="listitem" *ngFor="let synonym of media.synonyms">
        {{ synonym }}
      </mt-chip>
    </div>
  </div>

  <!-- float fix -->
  <div></div>
</div>
