<div *ngIf="media" [class.general-info-only]="generalInfoOnly">
  <div [class.row]="showAsColumns">
    <!-- left column -->
    <div class="column left">
      <img
        [src]="media.coverImage?.large"
        alt="Cover image for {{ media.title.romaji }}"
        class="cover"
      />

      <div *ngIf="media.description">
        <h4 class="no-margin-top margin-bottom-2xs">
          {{ 'media.description' | translate }}:
        </h4>
        <div [innerHTML]="sanitizeDescription()"></div>
      </div>
    </div>

    <!-- right column -->
    <div class="column right border">
      <p *ngIf="media.format" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.format' | translate }}:</strong>
        <span class="value">{{
          'media.formatValues.' + media.format | translate
        }}</span>
      </p>

      <p *ngIf="getMediaProgress(media)" class="property-value-pair flex-box">
        <strong class="property"
          >{{ getMediaTypeProgressLiteral(media.type) | translate }}:</strong
        >
        <span class="value">{{ getMediaProgress(media) }}</span>
      </p>

      <p *ngIf="media.volumes" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.volumes' | translate }}:</strong>
        <span class="value">{{ media.volumes }}</span>
      </p>

      <p *ngIf="media.duration" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.duration' | translate }}:</strong>
        <span class="value">{{ getFormattedAnimeDuration(media) }}</span>
      </p>

      <p *ngIf="media.source" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.source' | translate }}:</strong>
        <span class="value">{{
          getSourceLiteral(media.source) | translate
        }}</span>
      </p>

      <p *ngIf="media.startDate.year" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.startDate' | translate }}:</strong>
        <span class="value">{{ getFormattedFuzzyDate(media.startDate) }}</span>
      </p>

      <p *ngIf="media.endDate.year" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.endDate' | translate }}:</strong>
        <span class="value">{{ getFormattedFuzzyDate(media.endDate) }}</span>
      </p>

      <p
        *ngIf="generalInfoOnly && media.format?.length"
        class="property-value-pair flex-box"
      >
        <strong class="property">{{ 'media.format' | translate }}:</strong>
        <span class="value">{{
          'media.formatValues.' + media.format | translate
        }}</span>
      </p>

      <p *ngIf="media.status?.length" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.status' | translate }}:</strong>
        <span class="value">{{
          'media.statusValues.' + media.status | translate
        }}</span>
      </p>

      <p
        *ngIf="media.studios?.nodes?.length"
        class="property-value-pair flex-box"
      >
        <strong class="property">{{ 'media.studio' | translate }}:</strong>
        <span
          class="value text-ellipsis"
          [matTooltip]="media.studios.nodes[0].name"
          >{{ media.studios.nodes[0].name }}</span
        >
      </p>

      <p *ngIf="media.averageScore" class="property-value-pair flex-box">
        <strong class="property" [matTooltip]="'media.scoreTooltip' | translate"
          >{{ 'media.score' | translate }}:</strong
        >
        <span class="value">
          <mt-media-score [media]="media"></mt-media-score>
        </span>
      </p>
    </div>
  </div>

  <!-- lower columns -->
  <p
    *ngIf="media.genres?.length"
    class="property-value-pair flex-box no-margin-bottom"
  >
    <strong class="property padded">{{ 'media.genres' | translate }}:</strong>

    <span class="value">
      <span *ngFor="let genre of media.genres">
        <mt-chip class="rounded">{{ genre }}</mt-chip>
      </span>
    </span>
  </p>

  <p
    *ngIf="media.tags?.length"
    class="property-value-pair flex-box no-margin-bottom"
  >
    <strong class="property padded">{{ 'media.tags' | translate }}:</strong>

    <span class="value">
      <span *ngFor="let tag of media.tags">
        <span *ngIf="!tag.isMediaSpoiler">
          <mt-chip [title]="tag.description">{{ tag.name }}</mt-chip>
        </span>
      </span>
    </span>
  </p>

  <p
    *ngIf="media.synonyms?.length"
    class="property-value-pair flex-box no-margin-bottom"
  >
    <strong class="property padded">{{ 'media.synonyms' | translate }}:</strong>

    <span class="value">
      <mt-chip *ngIf="media.title.english">{{ media.title.english }}</mt-chip>
      <span *ngFor="let synonym of media.synonyms">
        <mt-chip>{{ synonym }}</mt-chip>
      </span>
    </span>
  </p>

  <!-- float fix -->
  <div></div>
</div>
