<div *ngIf="anime" [class.general-info-only]="generalInfoOnly">
  <div [class.row]="showAsColumns">
    <!-- left column -->
    <div class="column left">
      <img [src]="anime.coverImage?.large" class="cover" />

      <div *ngIf="anime.description">
        <h4 class="no-margin-top margin-bottom-xxs">{{ 'media.description' | translate }}:</h4>
        <div [innerHTML]="anime.description"></div>
      </div>
    </div>

    <!-- right column -->
    <div class="column right">
      <p *ngIf="!generalInfoOnly && anime.format" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.format' | translate }}:</strong>
        <span class="value">{{ 'media.formatValues.' + anime.format | translate }}</span>
      </p>

      <p *ngIf="!generalInfoOnly && anime.episodes" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.episodes' | translate }}:</strong>
        <span class="value">{{ anime.episodes }}</span>
      </p>

      <p *ngIf="!generalInfoOnly && anime.duration" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.duration' | translate }}:</strong>
        <span class="value">{{ getFormattedMediaDuration(anime) }}</span>
      </p>

      <p *ngIf="!generalInfoOnly && anime.startDate.year" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.startDate' | translate }}:</strong>
        <span class="value">{{ getFormattedFuzzyDate(anime.startDate) }}</span>
      </p>

      <p *ngIf="!generalInfoOnly && anime.startDate.year" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.endDate' | translate }}:</strong>
        <span class="value">{{ getFormattedFuzzyDate(anime.endDate) }}</span>
      </p>

      <p *ngIf="generalInfoOnly && anime.format?.length" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.format' | translate }}:</strong>
        <span class="value">{{ 'media.formatValues.' + anime.format | translate }}</span>
      </p>

      <p *ngIf="anime.status?.length" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.status' | translate }}:</strong>
        <span class="value">{{ 'media.statusValues.' + anime.status | translate }}</span>
      </p>

      <p *ngIf="anime.studios?.nodes?.length" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.studio' | translate }}:</strong>
        <span class="value text-ellipsis" title="{{ anime.studios.nodes[0].name }}">{{
          anime.studios.nodes[0].name
        }}</span>
      </p>

      <p *ngIf="!generalInfoOnly && anime.averageScore" class="property-value-pair flex-box">
        <strong class="property">{{ 'media.score' | translate }}:</strong>
        <span class="value">{{ anime.averageScore / 10 }}/10</span>
      </p>
    </div>
  </div>

  <!-- below columns -->
  <p *ngIf="!generalInfoOnly && anime.genres?.length" class="property-value-pair flex-box no-margin-bottom">
    <strong class="property">{{ 'media.genres' | translate }}:</strong>

    <span class="value">
      <span *ngFor="let genre of anime.genres">
        <mat-chip class="rounded">{{ genre }}</mat-chip>
      </span>
    </span>
  </p>

  <p *ngIf="anime.tags?.length" class="property-value-pair flex-box no-margin-bottom">
    <strong class="property">{{ 'media.tags' | translate }}:</strong>

    <span class="value">
      <span *ngFor="let tag of anime.tags">
        <span *ngIf="!tag.isMediaSpoiler">
          <mat-chip [title]="tag.description">{{ tag.name }}</mat-chip>
        </span>
      </span>
    </span>
  </p>

  <!-- float fix -->
  <div></div>
</div>
