@use 'sass:map';

@use 'colors';
@use 'mat-palettes';
@use 'variables' as *;

:host {
  $horizontal-padding: $spacing-8xs;
  $vertical-padding: $spacing-4xs;
  border-radius: $vertical-padding;
  line-height: 1rem;
  max-width: 100%;
  padding: $horizontal-padding $vertical-padding;
  background-color: map.get(mat-palettes.$grey, 40);
  color: colors.$default_fg;

  &.rounded {
    border-radius: 1rem;
    padding: $horizontal-padding $spacing-3xs;
  }
}
