@use 'sass:map';

@use 'palettes';

@import 'variables';

:host {
  $horizontal-padding: $spacing-8xs;
  $vertical-padding: $spacing-4xs;
  border-radius: $vertical-padding;
  line-height: 1rem;
  max-width: 100%;
  padding: $horizontal-padding $vertical-padding;
  background-color: map.get(palettes.$grey, 40);
  color: $fg-gray;

  &.rounded {
    border-radius: 1rem;
    padding: $horizontal-padding $spacing-3xs;
  }
}
