.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 594px;
}

::ng-deep mt-recently-updated-list-entries .mat-select-value {
  max-width: 128px !important;
}
