<mat-card class="composite compact">
  <div class="composite-header">
    <div class="header flex-1">
      <h4 class="no-margin">
        {{ 'anime.dashboard.recentlyUpdated' | translate }}
      </h4>
    </div>

    <div class="header header-dropdown">
      <span
        >{{ 'media.status' | translate }}
        {{ 'anime.search.filters.includedIn' | translate }}:</span
      >
      <mat-select
        class="width-auto"
        placeholder="{{ 'anime.statusValues.undefined' | translate }}"
        multiple
        [ngModel]="selectedStatuses"
        (ngModelChange)="selectedStatusChanged($event)"
      >
        <mat-option *ngFor="let status of listEntryStatuses" [value]="status">{{
          'anime.statusValues.' + status | translate
        }}</mat-option>
      </mat-select>
    </div>
  </div>

  <div class="content">
    <div *ngIf="!ready" class="placeholder">
      <mat-spinner mode="indeterminate"></mat-spinner>
    </div>

    <mt-list-entries-grid
      wrapperClass="negative-bottom-margin"
      [listEntries]="filteredEntries"
      [showStatusBadge]="true"
    ></mt-list-entries-grid>
  </div>
</mat-card>
