<div class="narrow-page">
  <mat-progress-bar *ngIf="searching" mode="indeterminate"></mat-progress-bar>

  <mat-card class="composite">
    <div *ngIf="media">
      <div class="header">
        <h3 class="no-margin">
          <mt-media-actions
            [additionalInfoEnabled]="false"
            [editEnabled]="false"
            [fullDetailEnabled]="false"
            [listMode]="false"
            [media]="media"
            (onListEntryChanges)="onListEntryChanges($event)"
            class="inline-block margin-right-2xs"
          >
          </mt-media-actions
          >{{ media.title.romaji }}
        </h3>
      </div>

      <mat-divider></mat-divider>

      <div class="content">
        <mt-media-info *ngIf="media" [media]="media" [showAsColumns]="true">
        </mt-media-info>
      </div>
    </div>
  </mat-card>

  <mat-card *ngIf="!(searching || media)" class="info">
    <h4>
      <fa-icon name="info-circle" class="margin-right-2xs"></fa-icon>
      {{ 'generic.noResults' | translate }}
    </h4>
  </mat-card>
</div>
