.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 594px;
}

::ng-deep mt-recently-finished-media .mat-select-value {
  max-width: 128px !important;
}

::ng-deep mt-recently-finished-media .status-badge {
  display: none;
}
