<mat-card class="composite compact">
  <div class="tab-group">
    <div class="header">
      <h4 class="no-margin">{{ 'anime.dashboard.finishedAiring.title' | translate }}</h4>
    </div>

    <div
      *ngFor="let tab of tabs"
      class="header tab {{ tab === activeTab ? 'active' : 'clickable' }}"
      (click)="activateTab(tab)"
    >
      <h4 class="no-margin">{{ tab.label }}</h4>
      <!-- <fa-icon [name]="tab.icon" iconClass="fa-lg"></fa-icon> -->
    </div>
  </div>

  <div *ngFor="let tab of tabs" [hidden]="tab !== activeTab" class="content">
    <div *ngIf="!ready" class="placeholder">
      <mat-spinner mode="indeterminate"></mat-spinner>
    </div>

    <mt-list-entries-grid [listEntries]="tab.data" wrapperClass="negative-bottom-margin"></mt-list-entries-grid>
  </div>
</mat-card>
