<mat-card class="composite compact">
  <div class="composite-header">
    <div class="header flex-1">
      <h4 class="no-margin">
        {{ 'anime.dashboard.finishedAiring' | translate }}
      </h4>
    </div>

    <div class="header header-dropdown">
      <span>{{ 'generic.sort' | translate }}:</span>
      <mat-select
        class="width-auto"
        [ngModel]="selectedSort"
        (ngModelChange)="sortBy($event)"
      >
        <mat-option *ngFor="let sort of mediaSorts" [value]="sort">{{
          'media.sortValues.' + sort | translate
        }}</mat-option>
      </mat-select>
    </div>

    <div class="header header-dropdown">
      <span>{{ 'media.format' | translate }}:</span>
      <mat-select
        class="width-auto"
        placeholder="{{ 'media.formatValues.undefined' | translate }}"
        multiple
        [ngModel]="selectedFormats"
        (ngModelChange)="selectedFormatChanged($event)"
      >
        <mat-select-trigger>
          {{ selectedFormats ? '...' : '' }}
        </mat-select-trigger>
        <mat-option *ngFor="let format of mediaFormats" [value]="format">{{
          'media.formatValues.' + format | translate
        }}</mat-option>
      </mat-select>
    </div>
  </div>

  <div class="content">
    <div *ngIf="searching" class="placeholder">
      <mat-spinner mode="indeterminate"></mat-spinner>
    </div>

    <mt-list-entries-grid
      wrapperClass="negative-bottom-margin"
      [listEntries]="filteredEntries"
    ></mt-list-entries-grid>
  </div>
</mat-card>
