<mat-card class="composite compact">

  <div class="header">
    <h4 class="no-margin">
      Your latest list updates
    </h4>
  </div>

  <mat-divider></mat-divider>

  <div class="content">
    <mat-spinner *ngIf="!ready" mode="indeterminate" class="margin-auto"></mat-spinner>

    <div *ngIf="listEntries && listEntries.length" class="cover-media-grid">
      <app-cover-media *ngFor="let entry of listEntries" [listEntry]="entry"></app-cover-media>
    </div>

    <mat-paginator
      *ngIf="pagination"
      [length]="pagination.total"
      [pageSize]="pagination.perPage"
      (page)="changePage($event)"
      class="basic negative-bottom-margin">
    </mat-paginator>

    <mat-card *ngIf="errorGotten" class="error">
      <h4>
        <i class="fa fa-exclamation-circle margin-right-xxs"></i>
        Error 500: Internal server error
      </h4>
    </mat-card>

  </div>

</mat-card>