<h2 class="text-115 bold margin-top-md">
  {{ 'media.userList.genresOverview' | translate }}
</h2>

@if (genreStatsList?.length | sort: 'amount') {
  <mat-grid-list role="list" rowHeight="32px" [cols]="getColumnCount()">
    @for (genreStats of genreStatsList; track genreStats) {
      <mat-grid-tile
        [matTooltip]="
          genreStats.amount + ' ' + ('media.userList.entries' | translate)
        "
        matTooltipPosition="above"
        role="listitem"
      >
        {{ genreStats.genre }} ({{ genreStats.percentage }}%)
      </mat-grid-tile>
    }
  </mat-grid-list>
}
