@import '../../styles/variables';

$horizontal-cell-padding: map-get($spacings, xxs);

.mat-cell {
  padding: map-get($spacings, xxxs) 0;
}

/* small columns */
.mat-column-score,
.mat-column-start-date,
.mat-column-episodes {
  flex: calc(2/3);
}

/* large columns */
.mat-column-title {
  flex: 4;
}

.mat-row {

  .mat-column-cover-image {
    font-size: 0;

    img {
      max-width: 88px;
      height: auto;
    }
  }

}

@media (max-width: $desktop-s) {
  .mat-column-score,
  .mat-column-start-date,
  .mat-column-genres,
  .mat-column-episodes {
    display: none;
  }

  .mat-column-format {
    flex: calc(1/2);
  }
}

@media (max-width: $tablet-m) {
  .mat-column-cover-image {
    flex: calc(5/4);
  }

  .mat-column-format {
    flex: calc(2/3);
  }
}

@media (max-width: $tablet-s) {
  .mat-column-cover-image {
    flex: calc(7/4);
  }

  .mat-column-format {
    flex: 1;
  }
}