<mat-table #table [dataSource]="dataSource" [hidden]="!dataSource || dataSource.data.length < 1" matSort>

  <ng-container matColumnDef="cover-image">
    <mat-header-cell *matHeaderCellDef>
      Cover
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <app-cover-image [media]="entry.media"></app-cover-image>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Title
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      {{ entry.media.title.romaji }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="format">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Format
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      {{ entry.media.format }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="start-date">
    <mat-header-cell *matHeaderCellDef mat-sort-header start="desc">
      Year
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      {{ entry.media.startDate.year }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="genres">
    <mat-header-cell *matHeaderCellDef>
      Genres
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <div *ngFor="let genre of entry.media.genres; let i = index">
        <mat-chip>
          {{ genre }}
        </mat-chip>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="score">
    <mat-header-cell *matHeaderCellDef mat-sort-header start="desc">
      Score
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      {{ entry.scoreRaw / 10 }}/10
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="episodes">
    <mat-header-cell *matHeaderCellDef mat-sort-header start="desc">
      Episodes
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      {{ entry.media.episodes }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="tableRows"></mat-header-row>
  <mat-row *matRowDef="let rowData; columns: tableRows"></mat-row>

</mat-table>

<mat-paginator
  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 50, 100]"
  [showFirstLastButtons]="true">
</mat-paginator>