@use 'colors';

@import 'variables';

mat-form-field {
  width: 100%;
}

mat-expansion-panel {
  margin: 0 (-$spacing-xs);

  .mat-expansion-panel-header {
    padding: 0 $spacing-xs;
  }
}

.search-card {
  padding: $spacing-md $spacing-2xl;

  @media (min-width: ($screen-md + 1)) {
    padding: $spacing-md $spacing-3xl;
  }
}

.search-input {
  font-size: $font-size-100;
  line-height: 1.5;
  margin: 0 auto;
  max-width: $screen-xs;
}

.form-columns {
  @media (min-width: ($screen-md + 1)) {
    display: flex;
    gap: $spacing-md;

    > *:not(:first-child) {
      padding-left: $spacing-md;
      position: relative;

      &::before {
        content: '';
        border-style: solid;
        border-width: 0 1px 0 0;
        border-color: colors.$border;
        height: 100%;
        margin-left: (-$spacing-md);
        position: absolute;
      }
    }
  }
}

.form-group {
  @media (min-width: ($screen-2xs + 1)) {
    display: flex;
    gap: $spacing-md;

    > * {
      flex: 1;
    }
  }
}

.progress-bar {
  border-radius: 2px;
  height: 4px;
  margin: 0 $spacing-8xs;
}

.results-wrapper {
  min-height: 100vh;
  padding: $spacing-xl 0;
}

@media (max-width: $screen-2xs) {
  button {
    width: 100%;
  }
}
