<section>
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <mat-card>
      <mat-card-content class="search-card">
        <h2 class="text-150 bold text-center no-margin-top">
          {{ mediaType.toLowerCase() + '.search.title' | translate }}
        </h2>

        <div class="form-group">
          <mat-form-field class="search-input">
            <mat-label>
              {{ 'media.search.filters.byTitle' | translate }}
            </mat-label>

            <input id="searchInput" matInput formControlName="search" />
          </mat-form-field>
        </div>

        <mat-expansion-panel
          class="mat-elevation-z padding-bottom-sm search-filters"
        >
          <mat-expansion-panel-header>
            {{ 'media.search.filters.advanced' | translate }}
          </mat-expansion-panel-header>

          <mat-divider></mat-divider>

          <div class="padding-horizontal-2xs padding-vertical-xs">
            <div class="form-columns">
              <div class="flex-2">
                <div class="form-group">
                  <!-- startDateGreaterThan -->
                  <mat-form-field>
                    <mat-label>
                      {{ 'media.search.filters.startYear' | translate }}
                      {{ 'media.search.filters.after' | translate }}...
                    </mat-label>

                    <input
                      [min]="minMediaStartYear"
                      matInput
                      type="number"
                      step="1"
                      formControlName="startDateGreaterThan"
                    />
                  </mat-form-field>

                  <!-- startDateSmallerThan -->
                  <mat-form-field>
                    <mat-label>
                      {{ 'media.search.filters.startYear' | translate }}
                      {{ 'media.search.filters.before' | translate }}...
                    </mat-label>

                    <input
                      [min]="minMediaStartYear"
                      matInput
                      type="number"
                      step="1"
                      formControlName="startDateSmallerThan"
                    />
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <!-- averageScoreGreaterThan -->
                  <mat-form-field>
                    <mat-label>
                      {{ 'media.score' | translate }}
                      {{ 'media.search.filters.above' | translate }}...
                    </mat-label>

                    <input
                      matInput
                      formControlName="averageScoreGreaterThan"
                      max="10"
                      min="0"
                      step="1"
                      type="number"
                    />
                  </mat-form-field>

                  <!-- averageScoreSmallerThan -->
                  <mat-form-field>
                    <mat-label>
                      {{ 'media.score' | translate }}
                      {{ 'media.search.filters.below' | translate }}...
                    </mat-label>

                    <input
                      matInput
                      formControlName="averageScoreSmallerThan"
                      max="10"
                      min="0"
                      step="1"
                      type="number"
                    />
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <!-- genreIn -->
                  <mat-form-field>
                    <mat-label>
                      {{ 'media.genres' | translate }}
                      {{ 'media.search.filters.includedIn' | translate }}...
                    </mat-label>

                    <mat-select formControlName="genreIn" multiple>
                      @for (genre of mediaGenres; track genre) {
                        <mat-option [value]="genre">
                          {{ genre }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>

                  <!-- genreNotIn -->
                  <mat-form-field>
                    <mat-label>
                      {{ 'media.genres' | translate }}
                      {{ 'media.search.filters.notIncludedIn' | translate }}...
                    </mat-label>

                    <mat-select formControlName="genreNotIn" multiple>
                      @for (genre of mediaGenres; track genre) {
                        <mat-option [value]="genre">
                          {{ genre }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <!-- tagIn -->
                  <mat-form-field>
                    <mat-label>
                      {{ 'media.tags' | translate }}
                      {{ 'media.search.filters.includedIn' | translate }}...
                    </mat-label>

                    <mat-select formControlName="tagIn" multiple>
                      @for (tag of mediaTags; track tag) {
                        <mat-option [value]="tag">
                          {{ tag }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>

                  <!-- tagNotIn -->
                  <mat-form-field>
                    <mat-label>
                      {{ 'media.tags' | translate }}
                      {{ 'media.search.filters.notIncludedIn' | translate }}...
                    </mat-label>

                    <mat-select formControlName="tagNotIn" multiple>
                      @for (tag of mediaTags; track tag) {
                        <mat-option [value]="tag">
                          {{ tag }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="flex-1">
                <div class="form-group">
                  <!-- formatIn -->
                  <mat-form-field>
                    <mat-label>
                      {{ 'media.format' | translate }}
                      {{ 'media.search.filters.includedIn' | translate }}...
                    </mat-label>

                    <mat-select
                      #formatInput
                      formControlName="formatIn"
                      multiple
                    >
                      @for (mediaFormat of mediaFormats; track mediaFormat) {
                        <mat-option [value]="mediaFormat">
                          {{ 'media.formatValues.' + mediaFormat | translate }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <!-- sourceIn -->
                  <mat-form-field>
                    <mat-label>
                      {{ 'media.source' | translate }}
                      {{ 'media.search.filters.includedIn' | translate }}...
                    </mat-label>

                    <mat-select
                      #formatInput
                      formControlName="sourceIn"
                      multiple
                    >
                      @for (mediaSource of mediaSources; track mediaSource) {
                        <mat-option [value]="mediaSource">
                          {{ 'media.sourceValues.' + mediaSource | translate }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <!-- statusIn -->
                  <mat-form-field>
                    <mat-label>
                      {{ 'media.status' | translate }}
                      {{ 'media.search.filters.includedIn' | translate }}...
                    </mat-label>

                    <mat-select
                      #formatInput
                      formControlName="statusIn"
                      multiple
                    >
                      @for (mediaStatus of mediaStatuses; track mediaStatus) {
                        <mat-option [value]="mediaStatus">
                          {{ 'media.statusValues.' + mediaStatus | translate }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <!-- countryOfOrigin -->
                  <mat-form-field>
                    <mat-label>
                      {{ 'media.search.filters.countryOfOrigin' | translate }}
                    </mat-label>

                    <mat-select #formatInput formControlName="countryOfOrigin">
                      @for (country of mediaCountries; track country) {
                        <mat-option [value]="country">{{
                          'country.' + country | translate
                        }}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <!-- onList -->
                  <mat-form-field>
                    <mat-label>
                      {{ 'media.search.filters.onList' | translate }}
                    </mat-label>

                    <mat-select formControlName="onList">
                      @for (option of onListOptions; track option) {
                        <mat-option [value]="option">
                          {{
                            'media.search.filters.onListValues.' + option
                              | translate
                          }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center padding-bottom-xs">
            <button
              mat-raised-button
              type="button"
              (click)="clearFilters($event)"
            >
              <fa-icon name="times"></fa-icon>
              <span>{{ 'media.search.filters.clear' | translate }}</span>
            </button>
          </div>

          <mat-divider></mat-divider>
        </mat-expansion-panel>

        <div class="text-center">
          <button
            mat-raised-button
            type="submit"
            color="accent"
            [disabled]="!searchForm.valid"
          >
            <fa-icon name="search baseline"></fa-icon>
            <span>{{ 'media.search.submit' | translate }}</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>

  @if (searching) {
    <mat-progress-bar
      class="progress-bar"
      mode="indeterminate"
    ></mat-progress-bar>
  }
  @if (!searching) {
    <div class="progress-bar"></div>
  }
</section>

<section>
  @if (error) {
    <mt-alert type="error">
      {{ error }}
    </mt-alert>
  }

  @if (pagination && !pagination.total) {
    <mt-alert type="info">
      {{ 'generic.noResults' | translate }}
    </mt-alert>
  }

  @if (mediaList?.length) {
    <div id="results" class="results-wrapper">
      <mat-card class="no-padding">
        <mt-search-results-table
          [favouriteIDs]="favouriteIDs"
          [mediaType]="mediaType"
          [tableData]="mediaList"
          (onSortChange)="sortBy($event)"
        ></mt-search-results-table>
        <mt-pagination
          [lazy]="true"
          [pagination]="pagination"
          (changePage)="changePage($event)"
        >
        </mt-pagination>
      </mat-card>
    </div>
  }
</section>
