<mat-card class="composite compact">
  <div class="composite-header">
    <div class="header">
      <h2 class="text-100 bold no-margin flex-1">
        {{ mediaType.toLowerCase() + '.dashboard.recentlyUpdated' | translate }}
      </h2>

      @if (isAnime(mediaType)) {
        <mt-header-picker
          iconName="film"
          placeholder="{{ 'media.formatValues.undefined' | translate }}"
          [matTooltip]="'media.format' | translate"
          [multiple]="true"
          [options]="mediaFormats"
          [truncate]="true"
          [value]="selectedFormats"
          [getOptionLiteral]="getFormatLiteral"
          [onChange]="setSelectedFormats"
        ></mt-header-picker>
      }

      <mt-header-picker
        iconName="clipboard"
        placeholder="{{
          (isAnime(mediaType) ? 'anime' : 'manga') + '.statusValues.undefined'
            | translate
        }}"
        [matTooltip]="'media.status' | translate"
        [multiple]="true"
        [options]="listEntryStatuses"
        [truncateMultiple]="true"
        [value]="selectedStatuses"
        [getOptionLiteral]="
          isAnime(mediaType) ? getAnimeStatusLiteral : getMangaStatusLiteral
        "
        [onChange]="setSelectedStatuses"
      ></mt-header-picker>
    </div>
  </div>

  <div class="content no-padding-bottom">
    @if (searching) {
      <div class="placeholder">
        <mat-spinner mode="indeterminate"></mat-spinner>
      </div>
    }

    <mt-list-entries-grid
      [listEntries]="filteredEntries"
      [showListEntryStatus]="true"
    ></mt-list-entries-grid>

    @if (error) {
      <mt-alert type="error">
        {{ error }}
      </mt-alert>
    }
  </div>
</mat-card>
