<mat-card class="composite compact">
  <div class="composite-header">
    <div class="header flex-1">
      <h4 class="no-margin">
        {{ 'anime.dashboard.recentlyUpdated' | translate }}
      </h4>
    </div>

    <mt-header-picker
      iconName="clipboard"
      title="{{ 'media.status' | translate }}"
      placeholder="{{ 'anime.statusValues.undefined' | translate }}"
      [multiple]="true"
      [options]="listEntryStatuses"
      [truncateMultiple]="true"
      [value]="selectedStatuses"
      [getOptionLiteral]="getAnimeStatusLiteral"
      [onChange]="setStatuses"
    ></mt-header-picker>

    <mt-header-picker
      iconName="filter"
      title="{{ 'media.format' | translate }}"
      placeholder="{{ 'media.formatValues.undefined' | translate }}"
      [multiple]="true"
      [options]="mediaFormats"
      [truncate]="true"
      [value]="selectedFormats"
      [getOptionLiteral]="getFormatLiteral"
      [onChange]="setFormats"
    ></mt-header-picker>
  </div>

  <div class="content">
    <div *ngIf="searching" class="placeholder">
      <mat-spinner mode="indeterminate"></mat-spinner>
    </div>

    <mt-list-entries-grid
      wrapperClass="negative-bottom-margin"
      [listEntries]="filteredEntries"
      [showStatusBadge]="true"
    ></mt-list-entries-grid>
  </div>
</mat-card>
