<div *ngIf="listEntries?.length" [class]="wrapperClass" #content>
  <div class="media-cover-grid">
    <mt-media-cover
      *ngFor="
        let listEntry of listEntries
          | slice
            : pagination.pageIndex * pagination.pageSize
            : pagination.pageIndex * pagination.pageSize + pagination.pageSize
      "
      [listEntry]="listEntry"
      [showStatusBadge]="showStatusBadge"
    ></mt-media-cover>
  </div>

  <mat-paginator
    [showFirstLastButtons]="true"
    [length]="pagination.length"
    [pageSize]="pagination.pageSize"
    (page)="changePage($event)"
    class="basic"
  >
  </mat-paginator>
</div>
