<div class="columns-wrapper">

  <div class="column left-sidebar">

    <app-recently-updated-list-entries></app-recently-updated-list-entries>

  </div><div class="column main-content">

    <mat-card class="composite compact">

      <div class="header">
        <h4 class="no-margin">
          Placeholder
        </h4>
      </div>

      <mat-divider></mat-divider>

      <div class="content">
        Placeholder
      </div>

    </mat-card>

  </div><div class="column right-sidebar">

    <app-recently-finished-media></app-recently-finished-media>

  </div>

</div>