<mat-toolbar>
  <div class="text-center">
    <div class="links-wrapper">
      <a [href]="gitHubProjectUrl" target="_blank">
        <fa-icon iconClass="margin-right-3xs" name="github" type="fab"></fa-icon
        >{{ 'footer.github' | translate }}</a
      >
    </div>

    <!-- <div class="about-anilist margin-top-2xs">
      {{ 'footer.anilistPrefix' | translate }}
      <mat-icon svgIcon="anilist"></mat-icon>
      {{ 'footer.anilistSuffix' | translate }}
    </div> -->
  </div>
</mat-toolbar>
