@import 'src/app/styles/variables';

mat-toolbar {
  display: block;
  height: auto;
  padding: $spacing-md;
  min-height: $footer-height;

  font-size: $font-size-sm;
  line-height: 1;

  .about-anilist {
    color: #444;

    .mat-icon[svgIcon='anilist'] {
      height: 12px;
      width: 16px;
    }
  }
}
