@import 'variables';

mat-toolbar {
  display: flex;
  height: auto;
  justify-content: center;
  min-height: $footer-height;
  padding: 0 $spacing-md;

  font-size: $font-size-88;
  line-height: 1;

  .about-anilist {
    color: #444;

    .mat-icon[svgIcon='anilist'] {
      height: 12px;
      width: 16px;
    }
  }
}
