@import '../../../../styles/variables';

.table-filter {
  padding-top: $spacing-xxs !important;
  padding-bottom: 0 !important;
}

.statuses-wrapper {
  mat-checkbox {
    display: inline-block;
    vertical-align: text-bottom;
  }

  .status-wrapper {
    margin-right: $spacing-xs;
    display: inline-block;
    min-width: 104px;

    .go-to-link {
      height: $spacing-s;
      display: inline-block;
      vertical-align: top;
    }
  }
}

.status-table-wrapper {
  &:not(:last-of-type) {
    margin-bottom: $spacing-l - $spacing-xxs;
  }
}
