@import "../../styles/variables";

.header {
  margin: 0 0 $spacing-xs;

  .title {
    padding-right: $spacing-xs;
  }
}

.content {
  margin: $spacing-xs 0 0;

  img.cover {
    float: left;
    max-width: 33vw;
    width: $screen-xxxs / 2;
    margin-right: $spacing-xs - $spacing-xxxs;
  }

  mat-chip {
    $vertical-padding: $spacing-xxxs;
    padding: 0 $vertical-padding;
    border-radius: $vertical-padding * 3/4;
  }

}