<mat-card class="composite">

  <div class="header no-margin">
    <i class="fa fa-times float-right clickable" (click)="dismiss()"></i>

    <div class="title">
      <h3 class="no-margin">
        <app-media-actions *ngIf="media" [media]="media" class="inline-block margin-right-xxxs"></app-media-actions>

        <span>
          {{ media.title.romaji }}
        </span>
      </h3>
    </div>

  </div>

  <mat-divider></mat-divider>

  <div class="content">
    <app-anime-info
      *ngIf="media"
      [anime]="media"
      [generalInfoOnly]="true">
    </app-anime-info>
  </div>

  <mat-divider></mat-divider>

  <div class="content">
    <div class="float-left full-width text-center">
      <button mat-raised-button color="accent" (click)="goToDetail()">
        Read more
      </button>
    </div>
  </div>

</mat-card>