@import "../../styles/variables";

.content {

  img.cover {
    float: left;
    max-width: 33vw;
    width: $screen-xxxs / 2;
    margin-right: $spacing-xs - $spacing-xxxs;
  }

  mat-chip {
    $vertical-padding: $spacing-xxxs;
    margin: $spacing-xxxxs 0;
    padding: $spacing-xxxxs $vertical-padding;
    border-radius: $vertical-padding * 3/4;
    display: inline-block;
    white-space: nowrap;
  }

  .property-value-pair {
    align-items: flex-start;

    &:last-child {
      margin-bottom: 0;
    }

    .property,
    .value {
      display: inline-block;
    }

    .property {
      min-width: $spacing-xl;
    }

    .value {
      width: calc(100% - #{$spacing-xxl - $spacing-s});
    }
  }

}