<div *ngIf="media">
  <div
    class="cover"
    [matTooltip]="getMediaTitle(media)"
    [style.background-image]="
      'url(' + getSizedCoverImage(media.coverImage) + ')'
    "
  >
    <div class="backdrop">
      <div class="cover-actions-container">
        <button
          *ngIf="listEntry"
          class="cover-action clickable"
          mat-icon-button
          matTooltipPosition="above"
          [matTooltip]="'media.userList.updateEntry' | translate"
          (click)="openEditionModal($event)"
        >
          <fa-icon name="pen"></fa-icon>
        </button>

        <button
          class="cover-action clickable text-150 bold"
          matTooltipPosition="above"
          mat-icon-button
          [matTooltip]="'media.view' | translate"
          [ngClass]="{ 'padding-md': !listEntry }"
          (click)="openDetailModal($event)"
        >
          <fa-icon name="id-card"></fa-icon>
        </button>

        <button
          *ngIf="listEntry"
          class="cover-action clickable"
          mat-icon-button
          matTooltipPosition="above"
          [matTooltip]="'media.userList.deleteFromList' | translate"
          (click)="deleteEntry($event)"
        >
          <fa-icon name="trash"></fa-icon>
        </button>
      </div>

      <mt-media-score
        [listEntry]="listEntry"
        [media]="media"
        [tooltipsEnabled]="false"
      ></mt-media-score>
    </div>

    <div
      *ngIf="listEntry && showStatusBadge"
      class="status-badge {{ listEntry.status.toLowerCase() }}"
    ></div>
  </div>
</div>
