@use 'sass:math';
@use 'sass:map';

@use '@angular/material' as mat;

@use 'colors';
@use 'palettes';
@use 'variables' as *;

.cover {
  $c-backdrop: rgba(black, 67%);

  height: $media-cover-height;
  width: $media-cover-width;

  background-position: center center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  &:not(:hover) {
    .backdrop {
      opacity: 0;
      visibility: hidden;
    }
  }

  .backdrop {
    font-size: $font-size-88;
    padding: $spacing-4xs;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition: $transition-duration;

    align-items: flex-end;
    display: flex;
    justify-content: center;

    background: $c-backdrop;
    color: colors.$default_fg;

    .clickable {
      transition: $transition-duration;

      &:hover {
        color: colors.$anchor;
      }
    }
  }

  .title {
    > div {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .media-badge {
    position: absolute;
    top: 0;

    &.list-entry-status {
      $size: 12px;
      $shadow-size: $size + 1px;
      border-color: transparent #0006;
      border-style: solid;
      border-width: 0px 0px $shadow-size $shadow-size;

      &:after {
        content: '';
        position: absolute;
        border-color: transparent;
        border-style: solid;
        border-width: 0px 0px $size $size;
        margin-left: (-$shadow-size);
      }

      @each $status, $palette in palettes.$by-status {
        &.#{$status}:after {
          $border-color: map.get($palette, 60);
          border-left-color: $border-color;
          border-right-color: $border-color;
        }
      }
    }

    &.media-status {
      box-sizing: border-box;
      height: 100%;
      width: 100%;

      .contents {
        font-weight: bold;
        padding: $spacing-6xs;
        pointer-events: none;
        text-align: center;
        text-shadow: 0 0 $spacing-4xs black;
      }

      &.cancelled,
      &.not-yet-released,
      &.releasing {
        .contents {
          background: $c-backdrop;
        }
      }

      &.cancelled {
        border: $spacing-6xs solid colors.$red_bg;
        box-shadow: inset 0 0 $spacing-3xs black;
        color: colors.$red_bg;

        .contents {
          &:before {
            content: '\f05e';
            font-family: var(--fa-family-classic);
          }
        }
      }

      &.not-yet-released,
      &.releasing {
        border: $spacing-6xs solid colors.$primary_fg;
        box-shadow: inset 0 0 $spacing-3xs black;
        color: colors.$primary_fg;

        .contents {
          padding-right: $spacing-xs;

          &:before {
            content: '\f017';
            font-family: var(--fa-family-classic);
          }
        }
      }
    }
  }

  .cover-actions-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    height: calc(100% - $spacing-2xl * 2);
    width: 100%;
    top: $spacing-2xl;
    left: 0;

    .cover-action {
      $size: 1.5em;
      font-size: $font-size-100;
      height: $size;
      line-height: initial;
      padding: 0;
      text-shadow: 0 0 2px black;
      width: $size;
    }
  }
}
