@use 'sass:math';
@use 'sass:map';

@use '@angular/material' as mat;

@use 'colors';
@use 'palettes';
@use 'variables' as *;

.cover {
  $c-backdrop: rgba(black, 67%);

  aspect-ratio: math.div($media-cover-width, $media-cover-height);
  width: 100%;

  background-position: center center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  &:not(:hover) {
    .backdrop {
      opacity: 0;
      visibility: hidden;
    }
  }

  .backdrop {
    font-size: $font-size-88;
    padding: $spacing-3xs;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition: $transition-duration;

    display: flex;
    justify-content: center;

    background: $c-backdrop;
    color: colors.$default_fg;

    .clickable {
      transition: $transition-duration;

      &:hover {
        color: colors.$anchor;
      }
    }
  }

  .title {
    > div {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .media-status-label {
    background: $c-backdrop;
    color: colors.$default_fg;
    font-size: $font-size-88;
    font-weight: bold;
    left: $spacing-4xs;
    padding: $spacing-6xs $spacing-4xs;
    position: absolute;
    top: $spacing-4xs;
    z-index: 1;
  }

  .media-badge {
    $border-width: $spacing-6xs;
    $box-shadow: 0 0 $spacing-3xs #000c;
    $box-shadow_inset: inset 0 0 $spacing-3xs black;
    position: absolute;

    &.top {
      top: 0;
    }
    &:not(.top) {
      bottom: 0;
    }

    &.list-entry-status {
      border-bottom: $border-width solid transparent;
      box-shadow: $box-shadow;
      width: 100%;

      @each $status, $palette in palettes.$by-status {
        &.#{$status} {
          border-color: map.get($palette, 60);
        }
      }
    }

    &.media-status {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 100%;
      width: 100%;

      box-sizing: border-box;
      pointer-events: none;
      border: $border-width solid transparent;

      .contents {
        font-weight: bold;
        padding: $spacing-6xs;
        text-align: center;
        text-shadow: 0 0 $spacing-4xs black;
      }

      &.cancelled,
      &.not-yet-released,
      &.releasing {
        box-shadow: $box-shadow_inset;

        .contents:not(:empty) {
          background: $c-backdrop;
        }
      }

      &.cancelled {
        $palette: map.get(palettes.$by-name, 'red');
        $color: map.get($palette, 60);
        border-color: $color;
        color: $color;

        .contents {
          &:before {
            content: '\f05e';
            font-family: var(--fa-family-classic);
          }
        }
      }

      &.not-yet-released,
      &.releasing {
        $palette: map.get(palettes.$by-name, 'orange');
        $color: map.get($palette, 60);
        border-color: $color;
        color: $color;

        .contents:not(:empty) {
          align-items: center;
          display: flex;
          justify-content: center;

          font-size: $font-size-88;

          &:before {
            content: '\f017';
            font-family: var(--fa-family-classic);
            padding-right: $spacing-3xs;
          }
        }
      }
    }
  }

  .cover-actions-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: $spacing-6xs;

    position: absolute;
    height: calc(100% - $spacing-2xl * 2);
    width: 100%;
    top: $spacing-2xl;
    left: 0;

    .cover-action {
      $size: 1.5em;
      font-size: $font-size-100;
      height: $size;
      line-height: initial;
      padding: 0;
      text-shadow: 0 0 2px black;
      width: $size;
    }
  }
}

:host {
  display: block;
  width: 100%;
}
