@if (media) {
  <div>
    <div
      class="cover"
      [matTooltip]="getMediaTitle(media)"
      [style.background-image]="
        'url(' + getSizedCoverImage(media.coverImage) + ')'
      "
    >
      <div class="backdrop">
        <div class="cover-actions-container">
          @if (listEntry) {
            <button
              class="cover-action clickable"
              mat-icon-button
              matTooltipPosition="above"
              [matTooltip]="'media.userList.updateEntry' | translate"
              (click)="openEditionModal($event)"
            >
              <div>
                <fa-icon name="pen"></fa-icon>
              </div>
            </button>
          }
          <button
            class="cover-action clickable text-150 bold"
            matTooltipPosition="above"
            mat-icon-button
            [matTooltip]="'media.view' | translate"
            (click)="openDetailModal($event)"
          >
            <div>
              <fa-icon name="id-card"></fa-icon>
            </div>
          </button>
          @if (listEntry) {
            <button
              class="cover-action clickable"
              mat-icon-button
              matTooltipPosition="above"
              [matTooltip]="'media.userList.deleteFromList' | translate"
              (click)="deleteEntry($event)"
            >
              <div>
                <fa-icon name="trash"></fa-icon>
              </div>
            </button>
          }
        </div>
        <div class="flex-box column center">
          @if (getMediaProgress(media)) {
            <div
              matTooltipPosition="above"
              [matTooltip]="getMediaTypeProgressLiteral(media.type) | translate"
            >
              (
              <span
                [ngClass]="{
                  bold: listEntry?.progress === getMediaProgress(media),
                }"
                >{{ listEntry?.progress ?? '*' }}</span
              >
              /
              <span>{{ getMediaProgress(media) }}</span>
              )
            </div>
          }
          @if (media.status === 'FINISHED') {
            <mt-media-score
              [listEntry]="listEntry"
              [media]="media"
              [tooltipsEnabled]="false"
            ></mt-media-score>
          }
        </div>
      </div>
      @if (listEntry && showListEntryStatus) {
        <div
          class="media-badge list-entry-status {{
            listEntry.status.toLowerCase()
          }}"
        ></div>
      }
      @if (showMediaStatus && media.status !== 'FINISHED') {
        <div
          class="media-badge media-status {{
            media.status.toLowerCase().replace(/_/g, '-')
          }}"
        ></div>
      }
    </div>
  </div>
}
