<div *ngIf="media">
  <div
    class="cover"
    [matTooltip]="media.title.romaji"
    [style.background-image]="
      'url(' + getSizedCoverImage(media.coverImage) + ')'
    "
  >
    <div class="backdrop">
      <div class="full-width" [ngClass]="{ 'padded-contents': listEntry }">
        <div class="cover-actions-container">
          <fa-icon
            *ngIf="listEntry"
            class="cover-action clickable"
            name="pen"
            (click)="openEditionModal($event)"
          ></fa-icon>

          <fa-icon
            class="cover-action clickable"
            name="info-circle"
            [ngClass]="{ 'text-4xl': !listEntry }"
            (click)="openDetailModal($event)"
          ></fa-icon>

          <fa-icon
            *ngIf="listEntry"
            class="cover-action clickable"
            name="trash"
            (click)="deleteEntry($event)"
          ></fa-icon>
        </div>
      </div>
    </div>

    <div
      *ngIf="listEntry && showStatusBadge"
      class="status-badge {{ listEntry.status.toLowerCase() }}"
    ></div>
  </div>
</div>
