<span [ngClass]="{ 'column-mode': columnMode }">
  @if (listEntry?.scoreRaw) {
    <span
      class="own"
      [matTooltip]="'media.userScore' | translate"
      matTooltipPosition="above"
    >
      {{ listEntry.scoreRaw / 10 }}
    </span>
    <span class="separator"> {{ columnMode ? '—' : '|' }} </span>
  }

  @if (!media.averageScore && !media.meanScore) {
    <span class="unknown"> ? </span>
  }

  @if (media.averageScore) {
    <span
      [matTooltip]="'media.averageScore' | translate"
      matTooltipPosition="above"
    >
      {{ media.averageScore / 10 }}
    </span>
  }

  @if (media.averageScore !== media.meanScore) {
    @if (media.averageScore && media.meanScore) {
      <span class="separator"> {{ columnMode ? '—' : '|' }} </span>
    }
    @if (media.meanScore) {
      <span
        [matTooltip]="'media.meanScore' | translate"
        matTooltipPosition="above"
      >
        {{ media.meanScore / 10 }}
      </span>
    }
  }
</span>
