.column-mode {
  display: flex;
  flex-direction: column;
  align-items: center;

  .separator {
    margin: -0.25em 0;
  }
}

.own {
  font-weight: bold;
  font-size: 112.5%;
}

.unknown {
  opacity: 0.5;
}
