@use 'variables' as *;

/* core */
body {
  color-scheme: dark;
  font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;

  main {
    padding: $spacing-md;
    box-sizing: border-box;
    text-align: center;

    min-height: calc(100vh - #{$mat-toolbar-height} - #{$footer-height});

    .narrow-page {
      max-width: 1152px;
      margin: auto;
    }

    > * {
      text-align: left;
    }

    @media (max-width: $screen-sm) {
      padding: $spacing-md !important;
    }

    @media (max-width: $screen-2xs) {
      padding: $spacing-2xs !important;
    }
  }
}

a {
  transition: color $transition-duration;
  text-decoration: none;
  cursor: pointer;
}

/* layout */
.flex-box {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.center {
    align-items: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

/* overrides */
.fa-fw {
  width: 1rem;
}
