@import 'app/styles/material';
@import 'app/styles/spacing';

/* core */
body {
  background: lightgray;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;

  .content-wrapper {
    @extend .vertical-padding-s;
    @extend .horizontal-padding-m;
    box-sizing: border-box;
    text-align: center;

    $header-height: 64px;
    $footer-height: 74px;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});

    .page-wrapper {
      max-width: 1152px;
      margin: auto;
    }

    > * {
      text-align: left;
    }
  }
}

/* layout */
.flex-box {
  display: flex;

  &.wrap {
    flex-wrap: wrap;
  }

  & > * {
    flex: 1;
  }
}

/* generic */
.inline-block {
  display: inline-block !important;
}
.display-block {
  display: block !important;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.float-left {
   float: left;
 }
.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

.margin-auto {
  margin: auto !important;
}

.transition {
  transition: .2s;
}

.capitalize {
  text-transform: capitalize;
}

label[for],
.clickable {
  cursor: pointer;
}

[hidden] {
  display: none !important;
}