@import 'app/styles/material-theme';
@import 'app/styles/material';
@import 'app/styles/cards';
@import 'app/styles/devices';
@import 'app/styles/spacing';
@import 'app/styles/series-table';
@import 'app/styles/data-display';

/* core */
body {
  font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;

  .content-wrapper {
    @extend .padding-s;
    box-sizing: border-box;
    text-align: center;

    min-height: calc(100vh - #{$mat-toolbar-height} - #{$footer-height});

    .narrow-page {
      max-width: 1152px;
      margin: auto;
    }

    > * {
      text-align: left;
    }

    @media (max-width: $screen-s) {
      padding: $spacing-xs !important;
    }

    @media (max-width: $screen-xxs) {
      padding: $spacing-xxs !important;
    }
  }
}

a {
  transition: color $transition-duration;
  text-decoration: none;
  cursor: pointer;
}

/* layout */
.flex-box {
  display: flex;

  &.center {
    align-items: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.flex-1 {
  flex: 1;
}

/* generic */
.inline-block {
  display: inline-block !important;
}
.display-block {
  display: block !important;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.overflow-hidden {
  overflow: hidden;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.capitalize {
  text-transform: capitalize;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.full-width {
  width: 100%;
}
.width-auto {
  width: auto !important;
}

.margin-auto {
  margin: auto !important;
}

.baseline {
  vertical-align: baseline;
}

.vertically-centered {
  vertical-align: middle;
}

.transition {
  transition: $transition-duration;
}

label[for],
.clickable {
  cursor: pointer;
}

[hidden] {
  display: none !important;
}

[title] {
  cursor: pointer;
}

.square-button {
  min-width: 36px !important;
  padding: 0 !important;
}

/* overrides */
.fa-fw {
  width: 1em;
}
