@use 'sass:color';
@use 'sass:map';

@use 'mat-palettes';
@use 'palettes';
@use 'variables' as *;

:host(.float) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.pill {
  $palette: map.get(palettes.$by-name, 'blue');
  background: color.adjust(map.get($palette, 70), $saturation: -20%);
  border-radius: $spacing-4xs;
  box-shadow: 0 0 $spacing-3xs #000c;
  color: map.get(mat-palettes.$grey, 10);
  line-height: 1;
  margin: $spacing-4xs;
  padding: $spacing-6xs $spacing-4xs;

  &.small-text {
    font-size: $font-size-75;
    font-weight: bolder;
  }
}
