@import '../../../../styles/variables';

mat-form-field {
  width: 100%;
}

mat-expansion-panel-header {
  padding: 0 $spacing-xxs;
}

.search-input {
  $font-size: $font-size-m;
  font-size: $font-size;
  line-height: $font-size * 1.5;
}

.form-group {
  max-width: $max-input-size;
  margin: auto;

  &.two-rows {
    > * {
      @media (min-width: #{$screen-xxs + 1}) {
        max-width: calc(50% - #{$spacing-xs});

        &:first-child {
          float: left;
        }
        &:last-child {
          float: right;
        }
      }
    }
  }
}

.progress-bar {
  border-radius: 2px;
  height: 4px;
  margin: 0 2px;
}

.results-wrapper {
  min-height: 100vh;
  padding: $spacing-s 0;
}

@media (max-width: $screen-xxs) {
  button {
    width: 100%;
  }
}
