@import '../../styles/variables';

:host {
  display: flex;
  align-items: center;
  overflow: visible;
}

.menu-toggle {
  $size: $spacing-s;
  width: $size;
  margin-left: -$size;
  font-size: 16px;
  text-align: center;
  vertical-align: bottom;
}

.action-icon {
  min-width: $spacing-s;
}