<div class="columns-wrapper">
  <div class="column left-sidebar">
    <mt-recently-updated-list-entries></mt-recently-updated-list-entries>
  </div>
  <div class="column main-content">
    <mat-card class="warning">
      <h4>
        <fa-icon name="exclamation-triangle" class="margin-right-xxs"></fa-icon>
        {{ 'generic.workInProgress' | translate }}
      </h4>
    </mat-card>
    <!--<mt-list-related-media></mt-list-related-media>-->
  </div>
  <div class="column right-sidebar">
    <mt-recently-finished-media></mt-recently-finished-media>
  </div>
</div>
