<div class="columns-wrapper">

  <div class="column left-sidebar">

    <app-recently-updated-list-entries></app-recently-updated-list-entries>

  </div><div class="column main-content">

    <mat-card class="warning">
      <h4>
        <i class="fa fa-exclamation-triangle margin-right-xxs"></i>
        Work In Progress
      </h4>
    </mat-card>
    <!--<app-list-related-media></app-list-related-media>-->

  </div><div class="column right-sidebar">

    <app-recently-finished-media></app-recently-finished-media>

  </div>

</div>