<div class="narrow-page">
  <mat-card *ngIf="!user" class="warning margin-bottom-xs">
    <h4>
      <fa-icon name="exclamation-circle" class="margin-right-2xs"></fa-icon>
      {{ 'user.notLoggedIn' | translate }}
      {{ 'media.search.limitedFeatures' | translate }}
    </h4>
  </mat-card>

  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <mat-card class="text-center">
      <h2>
        {{ 'anime.search.title' | translate }}
      </h2>

      <div class="form-group">
        <mat-form-field class="medium display-block margin-auto">
          <input
            id="searchInput"
            class="search-input"
            matInput
            placeholder="{{ 'media.search.filters.byTitle' | translate }}"
            formControlName="search"
          />
        </mat-form-field>
      </div>

      <mat-expansion-panel
        class="mat-elevation-z padding-bottom-sm search-filters"
      >
        <mat-expansion-panel-header>{{
          'media.search.filters.advanced' | translate
        }}</mat-expansion-panel-header>

        <mat-divider></mat-divider>

        <div class="vertical-padding-xs">
          <!-- release date -->
          <div class="form-group two-rows">
            <mat-form-field>
              <input
                [min]="minMediaStartYear"
                matInput
                type="number"
                placeholder="{{
                  'media.search.filters.startYear' | translate
                }} {{ 'media.search.filters.after' | translate }}..."
                step="1"
                formControlName="startDateGreaterThan"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                [min]="minMediaStartYear"
                matInput
                type="number"
                placeholder="{{
                  'media.search.filters.startYear' | translate
                }} {{ 'media.search.filters.before' | translate }}..."
                step="1"
                formControlName="startDateSmallerThan"
              />
            </mat-form-field>
          </div>

          <!-- score -->
          <div class="form-group two-rows">
            <mat-form-field>
              <input
                matInput
                formControlName="averageScoreGreaterThan"
                max="10"
                min="0"
                placeholder="{{ 'media.score' | translate }} {{
                  'media.search.filters.above' | translate
                }}..."
                step="1"
                type="number"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                formControlName="averageScoreSmallerThan"
                max="10"
                min="0"
                placeholder="{{ 'media.score' | translate }} {{
                  'media.search.filters.below' | translate
                }}..."
                step="1"
                type="number"
              />
            </mat-form-field>
          </div>

          <!-- genre -->
          <div class="form-group two-rows">
            <mat-form-field>
              <mat-select
                placeholder="{{ 'media.genre' | translate }} {{
                  'media.search.filters.includedIn' | translate
                }}..."
                formControlName="genreIn"
                multiple
              >
                <mat-option *ngFor="let genre of mediaGenres" [value]="genre">{{
                  genre
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select
                placeholder="{{ 'media.genre' | translate }} {{
                  'media.search.filters.notIncludedIn' | translate
                }}..."
                formControlName="genreNotIn"
                multiple
              >
                <mat-option *ngFor="let genre of mediaGenres" [value]="genre">{{
                  genre
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- format -->
          <div class="form-group two-rows">
            <mat-form-field>
              <mat-select
                placeholder="{{ 'media.format' | translate }} {{
                  'media.search.filters.includedIn' | translate
                }}..."
                #formatInput
                formControlName="formatIn"
                multiple
              >
                <mat-option
                  *ngFor="let mediaFormat of mediaFormats"
                  [value]="mediaFormat"
                  >{{
                    'media.formatValues.' + mediaFormat | translate
                  }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select
                placeholder="{{ 'media.format' | translate }} {{
                  'media.search.filters.notIncludedIn' | translate
                }}..."
                #formatInput
                formControlName="formatNotIn"
                multiple
              >
                <mat-option
                  *ngFor="let mediaFormat of mediaFormats"
                  [value]="mediaFormat"
                  >{{
                    'media.formatValues.' + mediaFormat | translate
                  }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <!-- status -->
          <div class="form-group two-rows">
            <mat-form-field>
              <mat-select
                placeholder="{{ 'media.status' | translate }} {{
                  'media.search.filters.includedIn' | translate
                }}..."
                #formatInput
                formControlName="statusIn"
                multiple
              >
                <mat-option
                  *ngFor="let mediaStatus of mediaStatuses"
                  [value]="mediaStatus"
                  >{{
                    'media.statusValues.' + mediaStatus | translate
                  }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select
                placeholder="{{ 'media.status' | translate }} {{
                  'media.search.filters.notIncludedIn' | translate
                }}..."
                #formatInput
                formControlName="statusNotIn"
                multiple
              >
                <mat-option
                  *ngFor="let mediaStatus of mediaStatuses"
                  [value]="mediaStatus"
                  >{{
                    'media.statusValues.' + mediaStatus | translate
                  }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group two-rows">
            <!-- country -->
            <mat-form-field>
              <mat-select
                placeholder="{{
                  'media.search.filters.countryOfOrigin' | translate
                }}"
                #formatInput
                formControlName="countryOfOrigin"
              >
                <mat-option
                  *ngFor="let country of mediaCountries"
                  [value]="country"
                  >{{ 'country.' + country | translate }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <!-- on list -->
            <mat-form-field>
              <mat-select
                placeholder="{{ 'media.search.filters.onList' | translate }}"
                formControlName="onList"
              >
                <mat-option
                  *ngFor="let option of onListOptions"
                  [value]="option"
                  >{{
                    'media.search.filters.onListValues.' + option | translate
                  }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="text-center padding-bottom-xs">
          <button
            mat-raised-button
            type="button"
            (click)="clearFilters($event)"
          >
            <span>{{ 'media.search.filters.clear' | translate }}</span>
          </button>
        </div>

        <mat-divider></mat-divider>
      </mat-expansion-panel>

      <div class="text-center">
        <button
          mat-raised-button
          type="submit"
          color="accent"
          [disabled]="!searchForm.valid"
        >
          <fa-icon name="search baseline"></fa-icon>
          <span>{{ 'media.search.submit' | translate }}</span>
        </button>
      </div>
    </mat-card>

    <mat-progress-bar
      *ngIf="searching"
      class="progress-bar"
      mode="indeterminate"
    ></mat-progress-bar>
    <div *ngIf="!searching" class="progress-bar"></div>

    <mat-card *ngIf="error" class="error">
      <h4>
        <fa-icon name="exclamation-circle" class="margin-right-2xs"></fa-icon>
        {{ error }}
      </h4>
    </mat-card>

    <mat-card *ngIf="pagination && !pagination.total" class="info">
      <h4>
        <fa-icon name="info-circle" class="margin-right-2xs"></fa-icon>
        {{ 'generic.noResults' | translate }}
      </h4>
    </mat-card>

    <div *ngIf="mediaList?.length > 0" id="results" class="results-wrapper">
      <mat-card class="no-padding">
        <mt-search-results-table
          [mediaType]="mediaType"
          [tableData]="mediaList"
          (onSortChange)="sortBy($event)"
        ></mt-search-results-table>

        <mt-pagination
          [pagination]="pagination"
          (changePage)="changePage($event)"
        >
        </mt-pagination>
      </mat-card>
    </div>
  </form>
</div>
