@import 'src/app/styles/variables';

$cover-width: $screen-xxxs / 2;
$max-cover-width: 33vw;
$content-padding: $spacing-xs - $spacing-xxxs;

img.cover {
  width: $cover-width;
  max-width: $max-cover-width;
  margin-right: $content-padding;
  float: left;
}

.general-info-only {
  .property-value-pair {
    .property {
      min-width: $spacing-xl !important;
    }
  }
}

@media (min-width: $screen-m) {
  .row {
    display: flex;
    align-items: start;

    .column {
      $column-padding: $spacing-xs;
      $right-column-width: 192px;
      display: inline-block;

      &.left {
        width: calc(100% - #{$right-column-width});
        padding-right: $column-padding;
        border-right: 1px solid lightgray;
      }

      &.right {
        width: $right-column-width;
        padding-left: $column-padding;

        .property-value-pair {
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}
